.workline-page .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  white-space: nowrap;
  padding-left: 22px;
}
.workline-page .title grey {
  color: #767676;
}
.workline-page .title lightgrey {
  color: #929da0;
}
.workline-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .cont {
  position: relative;
}
.workline-page .steps {
  background: rgba(255, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  padding-left: 142px;
}
.workline-page .steps .step {
  font-family: "pf_dindisplay_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  float: left;
  width: 83px;
  height: 76px;
  padding: 0;
  margin: 0;
  padding-left: 37px;
  padding-top: 38px;
  color: #87c159;
  background: url(../../img/workline/step_bg.png) 23px 27px no-repeat;
}
.workline-page .steps .step.active {
  background: url(../../img/workline/step_active_bg.png) left top no-repeat;
  cursor: default !important;
  color: #ffffff;
}
.workline-page .steps .step:hover {
  cursor: pointer;
}
.workline-page .steps .separator {
  width: 0px;
  height: 0px;
  background: url(../../img/workline/step_separator.png) left top no-repeat;
}
.workline-page .step-pages {
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 92px;
}
.workline-page .step-pages .page .innertitle {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
  padding: 33px 0;
}
