.workline-page .title {
  font-family: "PF DinDisplay Pro Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 90px;
  color: #4f9714;
  height: 90px;
  min-height: 90px;
}
.workline-page .title grey {
  color: #767676;
}
.workline-page .title lightgrey {
  color: #b2b2b2;
}
.workline-page .col1 {
  _outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .col2-3 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .steps ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.workline-page .steps ul li {
  float: left;
  padding: 5px;
  border: 1px dotted #ccc;
}
.workline-page .steps ul li.active {
  background: #eee;
  cursor: default !important;
}
.workline-page .steps ul li:hover {
  cursor: pointer;
}
