.workline-page .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  padding-top: 11px;
  white-space: nowrap;
  padding-left: 22px;
}
.workline-page .title grey {
  color: #2b2b2b;
}
.workline-page .title lightgrey {
  color: #929da0;
}
.workline-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.workline-page .cont {
  position: relative;
}
.workline-page .icon {
  width: 225px;
  height: 248px;
  margin-top: 56px;
}
.workline-page .icon.icon1 {
  background: url(../../img/workline/icons/1.png) left top no-repeat;
}
.workline-page .icon.icon2 {
  background: url(../../img/workline/icons/2.png) left top no-repeat;
}
.workline-page .icon.icon3 {
  background: url(../../img/workline/icons/3.png) left top no-repeat;
}
.workline-page .icon.icon4 {
  background: url(../../img/workline/icons/4.png) left top no-repeat;
}
.workline-page .icon.icon5 {
  background: url(../../img/workline/icons/5.png) left top no-repeat;
}
.workline-page .icon.icon6 {
  background: url(../../img/workline/icons/6.png) left top no-repeat;
}
.workline-page .icon.icon7 {
  background: url(../../img/workline/icons/7.png) left top no-repeat;
}
.workline-page .icon.icon8 {
  background: url(../../img/workline/icons/8.png) left top no-repeat;
}
.workline-page .icon.icon9 {
  background: url(../../img/workline/icons/9.png) left top no-repeat;
}
.workline-page .steps {
  padding: 0;
  margin: 0;
  padding-left: 142px;
}
.workline-page .steps .item {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: -3px;
  width: 83px;
  height: 76px;
}
.workline-page .steps .item .separator {
  position: absolute;
  right: 0px;
  top: 44px;
  width: 3px;
  height: 3px;
  min-width: 3px;
  min-height: 3px;
  background: url(../../img/workline/separator.png) left top no-repeat;
}
.workline-page .steps .item .step,
.workline-page .steps .item .hover {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 24px;
  top: 28px;
}
.workline-page .steps .item .step {
  z-index: 1;
}
.workline-page .steps .item .hover {
  z-index: 2;
  cursor: pointer;
  background: none;
}
.workline-page .steps .item .hover:hover {
  background: url(../../img/workline/hover.png) left top no-repeat;
}
.workline-page .steps .item .step1 {
  background: url(../../img/workline/num/1.png) left top no-repeat;
}
.workline-page .steps .item .step2 {
  background: url(../../img/workline/num/2.png) left top no-repeat;
}
.workline-page .steps .item .step3 {
  background: url(../../img/workline/num/3.png) left top no-repeat;
}
.workline-page .steps .item .step4 {
  background: url(../../img/workline/num/4.png) left top no-repeat;
}
.workline-page .steps .item .step5 {
  background: url(../../img/workline/num/5.png) left top no-repeat;
}
.workline-page .steps .item .step6 {
  background: url(../../img/workline/num/6.png) left top no-repeat;
}
.workline-page .steps .item .step7 {
  background: url(../../img/workline/num/7.png) left top no-repeat;
}
.workline-page .steps .item .step8 {
  background: url(../../img/workline/num/8.png) left top no-repeat;
}
.workline-page .steps .item .step9 {
  background: url(../../img/workline/num/9.png) left top no-repeat;
}
.workline-page .steps .item.active .step {
  width: 83px;
  height: 76px;
  left: 0px;
  top: 0px;
}
.workline-page .steps .item.active .hover {
  cursor: default;
  background: none;
}
.workline-page .steps .item.active .step1 {
  background: url(../../img/workline/select/1.png) left top no-repeat;
}
.workline-page .steps .item.active .step2 {
  background: url(../../img/workline/select/2.png) left top no-repeat;
}
.workline-page .steps .item.active .step3 {
  background: url(../../img/workline/select/3.png) left top no-repeat;
}
.workline-page .steps .item.active .step4 {
  background: url(../../img/workline/select/4.png) left top no-repeat;
}
.workline-page .steps .item.active .step5 {
  background: url(../../img/workline/select/5.png) left top no-repeat;
}
.workline-page .steps .item.active .step6 {
  background: url(../../img/workline/select/6.png) left top no-repeat;
}
.workline-page .steps .item.active .step7 {
  background: url(../../img/workline/select/7.png) left top no-repeat;
}
.workline-page .steps .item.active .step8 {
  background: url(../../img/workline/select/8.png) left top no-repeat;
}
.workline-page .steps .item.active .step9 {
  background: url(../../img/workline/select/9.png) left top no-repeat;
}
.workline-page .step-pages {
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 92px;
}
.workline-page .step-pages .page .innertitle {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
  padding: 33px 0;
}
