{{ import('css','contentBlock.css','ext.widgets.views') }}

<div class='content-block-widget'>
    {% if contentBlock.title %}
        <div class='content-block-title  text15 semibold gridHeight1 grid-bottom1'>{{ contentBlock.title|raw }}</div>
    {% endif %}
    <div class='content-block-text'>{{ contentBlock.text|raw }}</div>
</div>