{{ import('css','contentBlock.css','ext.widgets.views') }}

<div class='content-block-widget'>
    <div class='content-block-title  semibold gridHeight1 grid-bottom1'>{{ contentBlock.title|raw }}</div>
    <div class='content-block-text'>{{ contentBlock.text|raw }}</div>
</div>