{{ import('css','departmentOfLandSales.css','ext.widgets.views') }}

<div class='department-of-land-sales-widget'>
    <div class='department-of-land-sales-title'>
        Заголовок
    </div>
    <div class='department-of-land-sales-phone'>
        <div class='code'>343</div>
        <div class='phone'>456-76-21</div>
    </div>
    <div class='department-of-land-sales-text'>
        Отдел продажи земельных участков
    </div>
</div>
