.engineering-infrastructure-widget {
    background: rgba(0,255,0,0.3);
    border: 1px solid;
    border-color: rgba(0,0,0,0.3);
}

.engineering-infrastructure-item {
    width: 50%;
    float: left;
}
.engineering-infrastructure-title {

}
.engineering-infrastructure-image {

}
.engineering-infrastructure-text {

}
.engineering-infrastructure-link {

}