.footer-widget {
    position: relative;
    height: 100%;
    width: 100%;
}
.footer-cont-pos {
    _background: rgba(0,0,255,0.2);
    position: absolute;
    left: 50%;
    height: auto;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
    overflow: hidden;
}
.footer-social-buttons {
    border-top: 1px solid #dcdcdc;
    padding-top: 6px;
}
.footer-cont {
    border-top: 1px solid #dcdcdc;
    width: 2000px;          /* Заведомо больше максимальной ширины */
}

.footer-cont #copyright-block {
    min-height: 1px;
}
.footer-cont #copyright-block .footer-copyright,
.footer-cont #copyright-block .footer-copyright * {
    font-size: 12px;
}
.footer-cont #address-block {
    min-height: 1px;
}
.footer-cont #contacts-block {
    min-height: 1px;
}
.footer-cont #contacts-block .contact-mail {
}
.footer-cont #contacts-block .contact-phone {
    font-size: 12px;
}
.footer-cont #bottom-worktime-block {
    min-height: 1px;
}
.footer-cont #bottom-menu-block {
    min-height: 1px;
}