.footer-widget {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 72px;   /* 18px * 4 */
}
.footer-cont-pos {
    _background: rgba(0,0,255,0.2);
    position: absolute;
    left: 50%;
    height: auto;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
    overflow: hidden;
}
.footer-cont {
    width: 2000px;          /* Заведомо больше максимальной ширины */
}

.footer-cont #copyright-block {
    float: left;
}
.footer-cont #copyright-block .footer-copyright,
.footer-cont #copyright-block .footer-copyright * {
    font-size: 12px;
}
.footer-cont #info-block {
    float: left;
}
.footer-cont #contacts-block {
    float: left;
}
.footer-cont #contacts-block .contact-mail {
}
.footer-cont #contacts-block .contact-phone {
}
.footer-cont #bottom-menu-block {
    float :left;
}