{{ import('css','footerMenu.css','ext.widgets.views') }}
{{ import('css','menu.css') }}

<div class='footer-menu-widget'>
    <ul class='hmenu'>
        {% for item in items %}
            {% set link = static('CHtml', 'normalizeUrl', ['/'~item.link]) %}
            {% set active = item.select %}
            {% set first = loop.first %}
            {% set last = loop.last %}
            <li class='border-cont {% if first %}first{% endif %} {% if last %}last{% endif %}'>
                {% if not last %}
                    <div class='border-r' style='background:#b2b2b2; height:10px; margin-top:4px'></div>
                {% endif %}
                <a class='{% if active %}select{% endif %}' href='{{ link }}'>
                    {{ item.name|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>