{{ import('css','footer.css','ext.widgets.views') }}

<script type="text/javascript">
footerWidget =
{
    contPos: false,
    prevCeils: 5,           // Предыдущее значение отображаемых ячеек

    init: function()
    {
        var self = this;
        self.contPos = $('#js-footer-cont-pos');

        self.contPos.css({
            'width': (app.gridWidth*5)+'px',
            'margin-left': '-'+Math.floor(app.gridWidth*5/2)+'px'
        })

        app.addListener(app.eventReposition, footerWidget.onResize);
        app.resize();
    },

    onResize: function( ev )
    {
        var ceils = ev.ceils;

        app.resizeElement( footerWidget.contPos, app.gridWidth * ceils );
    }
};
$(document).ready( function()
{
    footerWidget.init();
});
</script>


<div class='footer-widget'>
    <div id='js-footer-cont-pos' class='footer-cont-pos'>
        <div class='footer-cont  gridHeight8'>

            <div id='copyright-block' class='grid16'>
                <div class='footer-copyright semibold'>&copy; 2012-2013 <span class='link-color'>SPHERE</span>ART</div>
            </div>
            <div id='info-block' class='grid16'>
                <div>Пишите: <a class='contact-mail' href=''>info@sphereart.ru</a></div>
                <div>Звоните: <span class='contact-phone semibold'>+7 961 763 07 99</span></div>
            </div>
            <div id='contacts-block' class='grid16'>
                620078, г. Екатеринбург, <br/>
                <span class='link-color'>ул. Папанина 1</span>, 2 этаж. оф. 202
            </div>
            <div id='bottom-menu-block' class='grid32'>
            </div>

        </div>
    </div>
</div>
