{{ import('css','header.css','ext.widgets.views') }}

<script type="text/javascript">
headerWidget =
{
    contPos: false,
    cont: false,
    prevCeils: 5,           // Предыдущее значение отображаемых ячеек

    init: function()
    {
        var self = this;
        self.contPos = $('#js-header-cont-pos');
        self.cont = $('#js-header-cont');

        self.contPos.css({
            'width': (app.workWidth*5)+'px',
            'margin-left': '-'+Math.floor(app.workWidth*5/2)+'px'
        })

        app.addListener(app.eventReposition, headerWidget.onResize);
    },

    onResize: function( ev )
    {
        var ceils = ev.ceils;

        app.resizePage( headerWidget.contPos, app.workWidth * ceils );
        /*
        Усечение произойдет автоматически
        if (ceils < headerWidget.prevCeils)
        {
            if (ceils <= 4)
            {
                // TODO: hideSocials
            }
            if (ceils <= 3)
            {
                // TODO: hideCity
            }
        }
        else if (ceils > headerWidget.prevCeils)
        {
            if (ceils >= 4)
            {
                // TODO: showCity
            }
            if (ceils >= 5)
            {
                // TODO: showSocials
            }
        }*/
    }
};
$(document).ready( function()
{
    headerWidget.init();
});
</script>

<div class='header-widget'>
    <div id='js-header-cont-pos' class='header-cont-pos'>
        <div id='js-header-cont' class='header-cont'>

            <div id='menu-block'>
                {{ widget('ext.widgets.MainMenuWidget') }}
            </div>
            <div id='logo-block'>
                <img src='/img/logo.png' width="185" height="30">
            </div>
            <div id='contacts-block'>
                <a class='mail' href=''>info@sphereart.ru</a>
                <div class='phone semibold'>+7 961 763 07 99</div>
            </div>
            <div id='city-block'>
                {{ widget('ext.widgets.CityWidget') }}
            </div>
            <div id='social-block'>
                {{ widget('ext.widgets.SocialButtonsWidget') }}
            </div>

        </div>
    </div>
</div>
