{{ import('css','header.css','ext.widgets.views') }}

<script type="text/javascript">
headerWidget =
{
    contPos: false,
    cityBlockWidth: 0,
    socialBlockWidth: 0,

    init: function()
    {
        var self = this;
        self.contPos = $('#js-header-cont-pos');
        self.cityBlockWidth = $('#city-block').width();
        self.socialBlockWidth = $('#social-block').width();

        self.contPos.css({
            'width': (app.gridWidth*5)+'px',
            'margin-left': '-'+Math.floor(app.gridWidth*5/2)+'px'
        })

        app.addListener(app.eventReposition, headerWidget.onResize);
        app.resize(true);
    },

    onResize: function( ev )
    {
        var ceils = ev.ceils;

        if (ceils == 4)
        {
            app.resizeElement( $('#city-block'), 0, true );
            app.resizeElement( $('#social-block'), headerWidget.socialBlockWidth, true );
        }
        else if (ceils == 5)
        {
            app.resizeElement( $('#city-block'), headerWidget.cityBlockWidth, true );
            app.resizeElement( $('#social-block'), headerWidget.socialBlockWidth, true );
        }
        app.resizeElement( headerWidget.contPos, app.gridWidth * ceils );
    }
};
$(document).ready( function()
{
    headerWidget.init();
});
</script>

<div class='header-widget'>
    <div id='js-header-cont-pos' class='header-cont-pos'>
        <div class='header-cont'>

            <div id='menu-block' class='grid24'>
                {{ widget('ext.widgets.MainMenuWidget', {'hasSelect':true}) }}
            </div>
            <div id='logo-block' class='grid12'>
                <div class='grid-left1'>
                    <a href='/'><img src='/img/logo.png' width="185" height="30"></a>
                </div>
            </div>
            <div id='contacts-block' class='grid12'>
                <div class='header-contact-block-inner'><a class='contact-mail' href=''>info@sphereart.ru</a></div>
                <div class='contact-phone semibold'>+7 961 763 07 99</div>
            </div>
            <div id='city-block' class='grid16'>
                <div class='grid16'>
                    {{ widget('ext.widgets.CityWidget') }}
                </div>
            </div>
            <div id='social-block' class='grid16'>
                {{ widget('ext.widgets.SocialButtonsWidget') }}
            </div>

        </div>
    </div>
</div>
