.main-works-lenta-widget {
    height: 343px;
}
.main-works-lenta-cont {
    height: 100%;
    width: 2000px;      /* Больше максимальной ширины */
}

.main-works-lenta-item {
    height:100%;
}
.main-works-lenta-item-image {

}
.main-works-lenta-item-desc {
    margin-top: 16px;
}