.main-works-widget {
    position: relative;
    height: 100%;
    width: 100%;
}
.main-works-cont-pos {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
    overflow: hidden;
}
.main-works-cont {
    position: absolute;
    left: 0px;
    top: 0px;
}
