{{ import('css','mainWorksLenta.css','ext.widgets.views') }}

<div class='main-works-lenta-widget'>

    <div class='main-works-lenta-new-angle'></div>
    <div class='main-works-lenta-cont'>
    {% for work in works %}
        {{ widget('ext.widgets.projects.ProjectItemWidget', {'project':work, showDate:false} ) }}
    {% endfor %}
    </div>

</div>