.main-works-widget {
    position: relative;
    height: 100%;
    width: 864px;
    float: left;
}
.main-works-widget-pos {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
}
.main-works-cont-pos {
    position: relative;
    width: 792px;
    height: 100%;
    overflow: hidden;
    float: left;
}
.main-works-cont {
    position: absolute;
    background: rgba(255,0,128,0.2);
    width: 100%;
    height: 100%;
    float: left;
}

.main-works-left-arrow,
.main-works-right-arrow {
    background: rgba(0,0,255,0.2);
    width: 36px;
    height: 100%;
    float: left;
}
.main-works-left-arrow {
    background-image: url(../../img/mainWorksWidget/left-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.main-works-right-arrow {
    background-image: url(../../img/mainWorksWidget/right-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.main-works-opacity-layer {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.main-works-opacity-layer td {
    text-align: center;
    vertical-align: middle;
}
.main-works-opacity-layer td a {
    color: #fff;
    text-decoration: none;
}

.main-works-opacity-layer .work-title,
.main-works-opacity-layer .work-desc {
}