{% block importBlock %}
    {{ import('css','menu.css') }}
    {{ import('css','mainMenu.css','ext.widgets.css') }}
{% endblock %}

<div class='main-menu-widget  hmenu'>
    <ul>
        {% for item in items %}
            {% set active = item.select %}
            {% set first = loop.first %}
            {% set last = loop.last %}
            <li class='{% if first %}first{% endif %} {% if last %}last{% endif %}'>
                <a class='{% if active %}select{% endif %}' href='{{ item.link }}'>
                    {% if active %}
                    {% endif %}
                    {{ item.name|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>