{{ import('css','mainWorksLenta.css','ext.widgets.views') }}

<div class='main-works-lenta-widget border-cont'>
    <div class='border-l' style='background:#d9d9d9;'></div>
    <div class='border-r' style='background:#d9d9d9;'></div>
    <div class='border-t' style='background:#d9d9d9;'></div>
    <div class='border-b' style='background:#d9d9d9;'></div>
    
    <div class='main-works-lenta-new-angle'></div>
    <div class='main-works-lenta-cont'>
    {% for work in works %}
        {{ widget('ext.widgets.projects.ProjectItemWidget', {'project':work, showDate:false} ) }}
    {% endfor %}
    </div>

</div>