{{ import('css','mainWorks.css','ext.widgets.views') }}

<script type="text/javascript">

pager =
{
    pageId: 1,
    pics: [],
    posCont: false,
    worksCont: false,

    init: function()
    {
        var self = this;
        self.posCont = $('#js-main-works-cont-pos');
        self.worksCont   = $('#js-main-works-cont');

        {% for work in works %}
            self.pics.push( {'id':{{work.id}}, 'image':'{{work.image}}'} );
        {% endfor %}
        for (var i = 0; i < self.pics.length; i++)
        {
            self.pics[i].html = self.createImageHtml( i, self.pics[i] );
            self.worksCont.append( self.pics[i].html );
        };

        self.posCont.css({
            'width': (app.workWidth*5)+'px',
            'margin-left': '-'+Math.floor(app.workWidth*5/2)+'px'
        })

        app.addListener(app.eventReposition, pager.onResize);
    },

    createImageHtml: function( idx, pict )
    {
        var self = this;
        var x = 0;
        var y = 0;
        if (idx > 0)
        {
            x = app.bigWorkWidth + Math.floor((idx-1)/2) * app.workWidth;
            if (idx % 2 == 0)
                y = app.workHeight;
        }
        return '<img id="js-work' + idx + '" src="' + pict.image + '" style="position:absolute; left:'+x+'px; top:'+y+'px" data_id="' + pict.id + '">';
    },

    showPage: function( pageId )
    {
        var self = this;
        self.pageId = pageId;

        var offs = app.bigWorkWidth * (pageId - 1);
        self.worksCont.css({'left':'-'+offs+'px'});
    },

    moveToPage: function( pageId )
    {
        var self = this;
        if (self.pageId == pageId)
            return;
        var delta = pageId - self.pageId;
        self.pageId = pageId;
        if (delta > 0)
        {
            // to next
            delta *= app.workWidth * 3;
            self.worksCont.animate({left:'-='+delta});
        }
        else
        {
            // to prev
            delta *= -app.workWidth * 3;
            self.worksCont.animate({left:'+='+delta});
        }
    },

    onResize: function( ev )
    {
        var ceils = ev.ceils;

        var startId = 0;
        var count = 5;
        var maxCount = 5;
        if (pager.pageId > 1)
        {
            startId = 1 + (pager.pageId-2) * 6;
            count = 10;
            maxCount = 10;
        }
        count -= (5-ceils)*2;
        pager.rollPics( app.workWidth * ceils );
        pager.showActualPics( startId, count, maxCount );
    },

    showActualPics: function( startId, count, maxCount )
    {
        for (var i = startId; i < startId + maxCount; i++)
        {
            var el = pager.worksCont.find('#js-work'+i);
            var isHide = el.data('isHide') !== undefined;
            var isAnim = el.data('isAnim') !== undefined;
            if (i < startId + count)
            {
                if (!isHide && isAnim)
                {
                    // Идет анимация затухания
                    el.stop();
                    el.data('isHide', true);
                    el.removeData('isAnim');
                    isHide = true;
                    isAnim = false;
                }
                if (isHide  &&  !isAnim)
                {
                    el.data('isAnim', true);
                    el.css({'opacity':0});
                    el.animate( {'opacity':1}, app.animDuration, function(el)
                    {
                        $(this).removeData('isHide');
                        $(this).removeData('isAnim');
                    });
                }
            }
            if (i >= startId + count)
            {
                if (isHide  &&  isAnim)
                {
                    // Идет анимация появления
                    el.stop();
                    el.removeData('isHide');
                    el.removeData('isAnim');
                    isHide = false;
                    isAnim = false;
                }
                if (!isHide  &&  !isAnim)
                {
                    el.data('isAnim', true);
                    el.animate( {'opacity':0}, app.animDuration, function()
                    {
                        $(this).data('isHide', true);
                        $(this).removeData('isAnim');
                        $(this).css({'opacity':1});
                    });
                }
            }
        }
    },

    rollPics: function( contWidth )
    {
        var isHideAnim = pager.posCont.data('isHideAnim') !== undefined;
        var isShowAnim = pager.posCont.data('isShowAnim') !== undefined;
        if (contWidth < pager.posCont.width())
        {
            if (isShowAnim)
            {
                pager.posCont.stop();
                pager.posCont.removeData('isShowAnim');
                isShowAnim = false;
                isHideAnim = false;
            }
            if (!isHideAnim)
            {
                pager.posCont.data('isHideAnim', true);
                pager.posCont.animate({
                    'width': contWidth+'px',
                    'margin-left': '-'+Math.floor(contWidth/2)+'px'
                }, app.animDuration, function()
                {
                    pager.posCont.removeData('isHideAnim');
                });
            }
        }
        else if (contWidth > pager.posCont.width())
        {
            if (isHideAnim)
            {
                pager.posCont.stop();
                pager.posCont.removeData('isHideAnim');
                isShowAnim = false;
                isHideAnim = false;
            }
            if (!isShowAnim)
            {
                pager.posCont.data('isShowAnim', true);
                pager.posCont.animate({
                    'width': contWidth+'px',
                    'margin-left': '-'+Math.floor(contWidth/2)+'px'
                }, app.animDuration, function()
                {
                    pager.posCont.removeData('isShowAnim');
                });
            }
        }
    }
};


$(document).ready( function()
{
    pager.init();
    pager.showPage( {{ currPage }} );
});
</script>

<div class='main-works-widget'>
    <div id='js-main-works-cont-pos' class='main-works-cont-pos'>
        <div id='js-main-works-cont' class='main-works-cont'>
        </div>
    </div>
</div>