{{ import('css','mainMenu.css','ext.widgets.views') }}

<div class='main-menu-widget'>
    <ul>
        <li id='item1' class='semibold'>
            <a href=''>Компания</a>
        </li>
        <li id='item2' class='semibold'>
            <a href=''>Отделы</a>
        </li>
        <li id='item3' class='semibold'>
            <a href=''>Работы</a>
        </li>
        <li id='item4' class='semibold'>
            <a href=''>Блог</a>
        </li>
    </ul>
</div>