{{ import('css','mainMenu.css','ext.widgets.views') }}

<div class='main-menu-widget'>
    <ul>
        {% for item in items %}
        <li id='item1' class='semibold {% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}'>
            <a href='{{ item.link }}'>{{ item.label|raw }}</a>
        </li>
        {% endfor %}
    </ul>
</div>