.main-works-lenta-widget {
    height: 342px;			/* 18px*19 */
}
.main-works-lenta-cont {
    height: 100%;
    width: 2000px;      /* Больше максимальной ширины */
}

.main-works-lenta-new-angle {
	background: url(../../img/new-angle.png) left top no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 37px;
	height: 37px;
}