.news-lenta-widget {
}

.news-lenta-item {
    float: left;
    height: 100%;
    background: #f6f5ef;
}
.news-lenta-item-date {
    color: #707070;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    opacity: 0.7;
}
.news-lenta-item-text {
    overflow: hidden;
}
/*.news-lenta-small-angle {
    background: url(../../img/small-angle.png) left top no-repeat;
    position: absolute;
    right: 1px;
    bottom: 2px;
    width: 5px;
    height: 5px;
}*/