.news-lenta-widget {
    height: 100%;
}

.news-lenta-item {
    float: left;
    height: 100%;
    background: #fbfaf7;
}
.news-lenta-item-date {
    color: #8c492b;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
}
.news-lenta-item-text {
    height: 3.5em;
    overflow: hidden;
}
.news-lenta-small-angle {
    background: url(../../img/small-angle.png) left top no-repeat;
    position: absolute;
    right: 1px;
    bottom: 2px;
    width: 5px;
    height: 5px;
}