{{ import('css','newsLenta.css','ext.widgets.views') }}

<div class='news-lenta-widget'>
    {% for item in news %}

        <div class='news-lenta-item grid16'>
            <div class='border-cont' style='height:100%'>
                <div class='border-l' style='background:#d9d9d9; border-style:dotted !important;'></div>
                <div class='border-t' style='background:#d9d9d9; border-style:dotted !important;'></div>
                <div class='border-b' style='background:#d9d9d9; border-style:dotted !important;'></div>
                {% if loop.last %}
                    <div class='border-r' style='background:#d9d9d9;'></div>
                {% endif %}


                <div class='grid-left2 grid-right2'>
                    <div class='news-lenta-small-angle'></div>
                    {% if item|length > 0 %}
                        <div class='news-lenta-item-date  gridHeight2'>{{ item.date }}</div>
                        <div class='news-lenta-item-text'>{{ item.text|raw }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>