.our-projects-widget {
    height: 100%;
}
.our-projects-cont {
    height: 100%;
    text-align: center;
}
.our-projects-cont>div {
    height: 100%;
}

.our-projects-title {
    padding-top: 30px;
    color: #809aa2;
    font-size: 11px;
    text-transform: lowercase;
}
.our-projects-logo {

}
.our-projects-desc {
    height: 130px;
    color: #525252;
    margin: 0px 20px 0px 20px;
}
.our-projects-link {

}
.our-projects-link a {
    color: #35688d;
}