{{ import('css','projectsOwn.css','ext.widgets.views') }}

<div class='projects-own-widget'>
    <div class='projects-own-widget-title  gridHeight1 titleNormal'>Собственные проекты</div>

    {% for item in works %}
    <div class='projects-own-item grid8 {% if loop.index0 > 0 %}grid-left2{% endif %} left'>

        <div class='projects-own-image'><img src='{{ item.image }}'></div>
        <div class='projects-own-desc'>{{ item.desc|raw }}</div>

    </div>
    {% endfor %}

</div>