{{ import('css','socialButtons.css','ext.widgets.views') }}

<div class='social-buttons-widget'>
    <div class='vk-icon'><a href=''></a></div>
    <div class='fb-icon'><a href=''></a></div>
    <div class='tw-icon'><a href=''></a></div>
</div>