{{ import('css','socialButtons.css','ext.widgets.views') }}

<div id='js-social-buttons-widget' class='social-buttons-widget'>
    <!--div class='vk-icon'><a href=''></a></div-->
    <div class='fb-icon'><a href=''></a></div>
    <!--div class='tw-icon'><a href=''></a></div-->
</div>