{{ import('css','socialButtons.css','ext.widgets.views') }}

<div class='social-buttons-widget'>
    <div class='vk-icon'><a href='http://vk.com' target='_blank'></a></div>
    <div class='fb-icon'><a href='http://facebook.com' target='_blank'></a></div>
</div>