{{ import('css','weDidIt.css','ext.widgets.views') }}

<div class='we-did-it-widget  gridHeight8'>
    <div class='we-did-it-title  gridHeight1 titleNormal'>Работы</div>
    <div class='we-did-it-list'>
        {% for item in items %}
            {% set link = static('CHtml', 'normalizeUrl', [{0:'/projects/projects/index', 'sectionId':item.sectionId}]) %}
            <div class='we-did-it-item  clear'>
                <div class='we-did-it-item-cont  grid11 gridHeight1 left'>
                    <div class='we-did-it-item-cont-inner'>
                        <div class='we-did-it-link  left'><a href='{{link}}'>{{ item.title|raw }}</a></div>
                        <div class='we-did-it-dots  grid11 left'><hr noshade="noshade"/></div>
                    </div>
                </div>
                <div class='gridHeight1 left'>
                    <div class='we-did-it-amount'>{{ item.amount }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
