.we-did-it-widget {

}
.we-did-it-title {
	margin-bottom: 7px;
    padding-bottom: 1px;        /* Чтобы влезло подчеркивание */
}
.we-did-it-list {

}
.we-did-it-item {
}
.we-did-it-item-cont {
	position:relative;
	overflow: hidden;
	margin-right: 5px;
	padding-bottom: 3px;
}
.we-did-it-item-cont-inner {
	width:2000px;
	position: absolute;
}

.we-did-it-link {
}
.we-did-it-dots {
}
.we-did-it-dots hr {
	border: 0px none;
	background: transparent;
	border-top: 1px dotted #808080;
	margin-left: 5px;
	margin-top: 9px;
}
.we-did-it-amount {

}