{% extends 'modules/news/views/base.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','index.css', 'application.modules.news.views') }}
{% endblock %}

{% block newsContent %}
    {% for item in news %}
        <div class='news-item'>
            <div class='news-item-date  gridHeight1'>{{ static('DateHelper', 'formatNewsDate', [item.createTime]) }}</div>
            <div class='news-item-text  text15 grid-bottom1'>{{ item.shortDesc|raw }}</div>
        </div>
    {% endfor %}
{% endblock %}