.news-item {
    _background: rgba(0,255,0,0.5);
}
.news-item-date {
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
}
.news-item-title,
.news-item-title * {
    font-size: 23px;
    color: #000000;
}