.main-page {
  min-height: 1px
  /* Задник */
}
.main-page .bottomGap {
  height: 44px;
  min-height: 44px;
}
.main-page .col1-2-3 {
  width: 966px;
  min-width: 966px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2 {
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col3 {
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .cont {
  position: relative;
}
.main-page .col1-block1 {
  position: absolute;
  top: -4px;
  left: 0;
}
.main-page .col1-block2 {
  position: absolute;
  top: 570px;
  left: 0;
}
.main-page .col1-block3 {
  position: absolute;
  top: 80px;
  left: 490px;
}
.main-page .padding-block {
  padding-left: 22px;
  padding-right: 22px;
}
.main-page .bg-container {
  width: 100%;
  min-width: 1024px;
}
.main-page .bg-container .bg-picture {
  width: 1040px;
  height: 568px;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -532px;
  background: url(../../img/mainBg.png) left top no-repeat;
  z-index: -1;
}
