.main-page {
  min-height: 1px;
}
.main-page .bottomGap {
  height: 92px;
  min-height: 92px;
}
.main-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2 {
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col3 {
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .cont {
  position: relative;
}
.main-page .col1-block1 {
  position: absolute;
  top: 18px;
  left: 0;
}
.main-page .col1-block2 {
  position: absolute;
  top: 570px;
  left: 0;
}
.main-page .col1-block3 {
  position: absolute;
  top: 180px;
  left: 500px;
}
.main-page .separator {
  border-top: #99b985 1px dotted;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
}
.main-page .padding-block {
  padding-top: 22px;
  padding-bottom: 22px;
}
/* Задник */
.bg-container {
  width: 100%;
  min-width: 1024px;
  height: 873px;
  overflow: hidden;
  position: absolute;
}
.bg-container .bg-picture {
  width: 1027px;
  height: 568px;
  position: absolute;
  top: 305px;
  left: 50%;
  margin-left: -498.5px;
  background: url(../../img/mainBg.jpg) left top no-repeat;
  z-index: -1;
}
