.main-page {
  min-height: 1px;
}
.main-page .bottomGap {
  height: 0px;
  min-height: 0px;
}
.main-page .col1 {
  outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2 {
  outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col3 {
  outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .col2-3 {
  outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.main-page .cont {
  position: relative;
}
.main-page .col1-block1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.main-page .col1-block2 {
  position: absolute;
  top: 596px;
  left: 0;
}
/* Задник */
.bg-container {
  width: 100%;
  min-width: 1024px;
  height: 940px;
  overflow: hidden;
  position: absolute;
}
.bg-container .bg-picture {
  width: 1187px;
  height: 628px;
  position: absolute;
  top: 312px;
  left: 50%;
  margin-left: -578.5px;
  background: url(../../img/mainBg.png) left top no-repeat;
  z-index: -1;
}
