.company-menu-widget {
    display: inline-block;
    width: 100%;
}
.company-menu-item-widget {
    position: relative;
    _background: rgba(255,255,0,0.5);
}
.company-menu-item-widget a {
    background: none;
}
.company-menu-item-inner-widget {
    position: absolute;
    bottom: 0px;
}
.company-menu-item-arrow {
    position: absolute;
    bottom: 0px;
    right: 100%;
    margin-bottom: 4px;
    _background-color: rgba(200,0,0,0.5);
}
.company-menu-item-arrow .select {
    background: url(../../img/vmenu-arrow.png) no-repeat left bottom;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    width: 7px;
    height: 9px;
    bottom: 0;
}
.company-menu-item-arrow .border-l-first {
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 0.7em;
}