.left-menu-widget {
  padding: 22px 22px 22px 22px;
}
.left-menu-widget,
.left-menu-widget table {
  font-size: 11px;
  line-height: 18px;
}
.left-menu-widget li td {
  vertical-align: middle;
}
.left-menu-widget li .image {
  padding: 22px 11px;
}
.left-menu-widget li a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcpPigS7wAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NgWP8BAAJSAaDZMoIEAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
  color: #00aff0 !important;
}
.left-menu-widget li a:hover {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjgJgt4u6AAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PwOPsfAAN1AhUbRwS5AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
  color: #48cdff !important;
}
.left-menu-widget a.active {
  text-decoration: none;
  background-image: none;
}
.left-menu-widget a.active:hover {
  text-decoration: none;
  background-image: none;
}
.left-menu-widget .left-menu-separator {
  border-top: #99b985 1px dotted;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  border-top: 1px solid #929da0;
  margin-left: 18px;
}
