.main-menu-second-widget {
  font-size: 14px;
  line-height: 22px;
  font-family: "PF DinDisplay Pro Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 22px;
}
.main-menu-second-widget li {
  padding-left: 11px;
  padding-right: 11px;
}
.main-menu-second-widget li,
.main-menu-second-widget li * {
  color: #8f8f8f;
  line-height: 1;
}
