.main-menu-widget {
  font-size: 16px;
  line-height: 1;
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-menu-widget li {
  padding-left: 11px;
  padding-right: 11px;
}
.main-menu-widget li,
.main-menu-widget li * {
  color: #4f9a00;
  line-height: 1;
}
.main-menu-widget li a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center bottom;
}
.main-menu-widget li a:hover {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center bottom;
}
.main-menu-widget a.active {
  text-decoration: none;
  background-image: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #75b239 !important;
  padding: 5px 9px 4px 9px;
  margin: -5px -9px;
  color: #ffffff !important;
}
.main-menu-widget a.active:hover {
  text-decoration: none;
  background-image: none;
}
