.main-menu-widget {
  font-size: 14px;
  line-height: 22px;
}
.main-menu-widget li {
  padding-left: 15px;
  padding-right: 15px;
}
.main-menu-widget li,
.main-menu-widget li * {
  color: #0074ce;
  line-height: 1;
}
