.page-structure-menu-widget {
  width: 944px;
  margin-left: 22px;
  padding-bottom: 18px;
  padding-top: 18px;
  margin-top: 22px;
  border-top: 1px dashed #6a9e40;
}
.page-structure-menu-widget,
.page-structure-menu-widget table {
  font-size: 12px;
  line-height: 19px;
  font-family: "verdanaregular", Helvetica, Arial, sans-serif;
}
.page-structure-menu-widget ul li {
  padding-left: 11px;
  padding-right: 11px;
}
.page-structure-menu-widget ul li,
.page-structure-menu-widget ul li * {
  line-height: 1;
}
.page-structure-menu-widget ul li a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAIAAAB2XpiaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gsREys5TIC+XAAAAAh0RVh0Q29tbWVudAD2zJa/AAAAFUlEQVQI12NsPxjJwMBQYbeMgYEBABjRAv8G+9HHAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.page-structure-menu-widget ul li a:hover {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAIAAAB2XpiaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gsREys5TIC+XAAAAAh0RVh0Q29tbWVudAD2zJa/AAAAFUlEQVQI12NsPxjJwMBQYbeMgYEBABjRAv8G+9HHAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
