.department-of-land-sales-widget {
  background: url(../../img/department_of_sales_icon.png) center bottom no-repeat;
  width: 200px;
  height: 165px;
  margin-top: 68px;
  margin-left: 75px;
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
}
.department-of-land-sales-widget .title {
  font-family: "PF DinDisplay Pro Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #3c7315;
}
.department-of-land-sales-widget .phone {
  padding-top: 20px;
  font-weight: bold;
}
.department-of-land-sales-widget .phone .code {
  color: #707070;
}
.department-of-land-sales-widget .phone .code:after {
  content: " ";
}
.department-of-land-sales-widget .text {
  padding-top: 6px;
}
