.engineering-infrastructure-widget {
  width: 100%;
  padding-top: 44px;
  padding-bottom: 44px;
  display: inline-block;
}
.engineering-infrastructure-widget .item1 {
  _outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.engineering-infrastructure-widget .item2 {
  _outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.engineering-infrastructure-widget .item1,
.engineering-infrastructure-widget .item2 {
  padding: 18px 22px 18px 22px;
}
.engineering-infrastructure-widget .item1 .title,
.engineering-infrastructure-widget .item2 .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 27px;
  color: #4f9714;
  padding-left: 22px;
}
.engineering-infrastructure-widget .item1 .image,
.engineering-infrastructure-widget .item2 .image {
  width: 106px;
  height: 106px;
  text-align: center;
  vertical-align: middle;
}
.engineering-infrastructure-widget .item1 .text,
.engineering-infrastructure-widget .item2 .text {
  padding-top: 18px;
}
