.news-lenta-widget {
  width: 100%;
  height: 176px;
}
.news-lenta-widget .link {
  width: 100%;
  height: 68px;
  min-height: 68px;
  padding: 24px 22px 0px 22px;
}
.news-lenta-widget .items {
  width: 100%;
  height: 108px;
  min-height: 108px;
}
.news-lenta-widget .items .item1 {
  outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding: 0 44px 0 22px;
}
.news-lenta-widget .items .item2 {
  outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding: 0 22px 0 22px;
}
.news-lenta-widget .items .item1 a,
.news-lenta-widget .items .item2 a {
  color: #56b312;
}
