.square-widget {
  padding: 22px;
}
.square-widget a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjgJgt4u6AAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PwOPsfAAN1AhUbRwS5AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
  color: #00aff0 !important;
}
.square-widget a:hover {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjgJgt4u6AAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PwOPsfAAN1AhUbRwS5AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
  color: #48cdff !important;
}
.square-widget .text {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #719e3d;
  padding-bottom: 11px;
}
.square-widget .sold-btn {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  width: 159px;
  height: 48px;
  text-align: center;
  margin-left: -6px;
  margin-bottom: 15px;
}
.square-widget .sold-btn a {
  line-height: 50px;
  width: inherit;
  height: inherit;
  display: inline-block;
  color: #ffffff !important;
  background: url(../../img/sale_btn.png) left top no-repeat;
}
.square-widget .sold-btn a:hover {
  background: url(../../img/sale_btn_hover.png) left top no-repeat;
}
.square-widget .sold {
  color: #8f8f8f;
  padding-bottom: 4px;
}
.square-widget .sales,
.square-widget .sales * {
  color: #8f8f8f;
}
.square-widget .number {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1;
  display: inline-block;
}
