.title-widget {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 120px;
  color: #4f9714;
  height: 120px;
  min-height: 120px;
  font-size: 34px;
  line-height: 38px;
  width: 741px;
  min-width: 741px;
  padding-left: 22px;
  padding-top: 24px;
}
.title-widget grey {
  color: #767676;
}
.title-widget lightgrey {
  color: #b2b2b2;
}
.title-widget .text1 {
  padding-left: 60px;
}
