.title-widget {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  padding-top: 11px;
  white-space: nowrap;
  padding-top: 0;
  width: 741px;
  min-width: 741px;
  padding-left: 22px;
  display: inline-block;
}
.title-widget grey {
  color: #2b2b2b;
}
.title-widget lightgrey {
  color: #929da0;
}
.title-widget .text2 {
  display: none;
}
