{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','site.css') }}
{% endblock %}

{% block content %}
<div class='main-works-block'>
    {{ widget('ext.widgets.MainWorksWidget') }}
</div>
<div class='our-projects-block'>
    TODO: ext.widgetss.OurProjectsWidget
</div>
{% endblock %}

{% block content2 %}
{% endblock %}