{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .map {
            width: 1366px;  /*966 + 400*/
            height: 1000px;
            margin-left: -200px;
            overflow: hidden;
        }
        .svg-map {
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
{% endblock %}

{% block content %}

    <div style='position: absolute; left:-222px; top:0px; background:url(/img/1.jpg) left top no-repeat; width: 2000px; height: 2000px; opacity:0.3; z-index:-1'></div>

    <div class='map'>
    </div>

    <script type="text/javascript">

        $('.map').load("/img/map.svg", function (response, status, xhr)
        {
            var svgobject = document.getElementsByTagName('svg')[0];

            // Получаем доступ к объектной модели SVG-файла
            var svgdom = $(svgobject.contentDocument);

            var mc = Hammer(svgobject);
            mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });
            mc.get('pinch').set({ enable: true });
            mc.get('rotate').set({ enable: true });


            var dragging = null;
            var pageX = 0;
            var pageY = 0;

            mc.on("panstart", function(e) {
                //console.log(e.type);
                dragging = svgobject;
                pageX = e.center.x;
                pageY = e.center.y;
            });
            mc.on("panend", function(e) {
                //console.log(e.type);
                dragging = null;
                pageX = 0;
                pageY = 0;
            });
            mc.on("panmove", function(e) {
                //console.log(e.type);
                if (dragging) {
                    var deltaX = e.center.x - pageX;
                    var deltaY = e.center.y - pageY;
                    pageX = e.center.x;
                    pageY = e.center.y;

                    var coords = svgobject.getAttribute('viewBox').split(' ');
                    var width  = parseInt(svgobject.getAttribute('width'));
                    var height = parseInt(svgobject.getAttribute('height'));
                    var viewPortW = parseInt($('.map').css('width'));
                    var viewPortH = parseInt($('.map').css('height'));

                    var x = parseInt(coords[0]);
                    var y = parseInt(coords[1]);
                    var w = parseInt(coords[2]);
                    var h = parseInt(coords[3]);
                    x -= deltaX * (w / width);
                    y -= deltaY * (h / height);

                    if (x < 0)
                        x = 0;
                    if (y < 0)
                        y = 0;
                    if (x > w - viewPortW * (w / width))
                        x = w - viewPortW * (w / width);
                    if (y > h - viewPortH * (h / height))
                        y = h - viewPortH * (h / height);

                    svgobject.setAttribute('viewBox', x+' '+y+' '+w+' '+h);
                }
            });
        });

    </script>
{% endblock %}
