.news-page .item {
  min-height: 167px;
  height: 167px;
  margin-bottom: 28px;
}
.news-page .item .image {
  padding-left: 22px;
  padding-top: 42px;
}
.news-page .item .textBlock .date {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8f8f8f;
  height: 42px;
  padding-top: 15px;
}
.news-page .item .textBlock .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #4f9714;
  margin-top: -4px;
}
.news-page .item .textBlock .title * {
  color: #4f9714;
}
.news-page .item .textBlock .title a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.news-page .item .textBlock .text {
  padding-top: 11px;
}
.news-page .item .textBlock .date,
.news-page .item .textBlock .title,
.news-page .item .textBlock .text {
  padding-right: 22px;
  padding-left: 22px;
}
.news-page .moreBtn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.05);
  display: none;
  margin-left: 22px;
}
