.news-page .item td {
  vertical-align: top;
  padding-bottom: 32px;
  min-height: 125px;
  height: 125px;
}
.news-page .item .image {
  padding-left: 22px;
  padding-top: 38px;
}
.news-page .item .textBlock .date {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8f8f8f;
  height: 38px;
  padding-top: 15px;
}
.news-page .item .textBlock .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #719e3d;
  margin-top: -4px;
}
.news-page .item .textBlock .title * {
  color: #719e3d;
}
.news-page .item .textBlock .title a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcIckECsQAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NoPxgJAAN0AaL44q9RAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.news-page .item .textBlock .text {
  padding-top: 11px;
}
.news-page .item .textBlock .date,
.news-page .item .textBlock .title,
.news-page .item .textBlock .text {
  padding-right: 22px;
  padding-left: 22px;
}
.news-page .moreBtn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.05);
  display: none;
  margin-left: 22px;
}
