.news-page {
  padding-bottom: 92px;
}
.news-page .backBtnCont {
  line-height: 49px;
  position: relative;
}
.news-page .backBtnCont .backBtn {
  width: 30px;
  height: 30px;
  background: url(../../img/back-btn.png) left top no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.news-page .content {
  padding-left: 22px;
  padding-right: 107px;
  padding-bottom: 30px;
}
.news-page .content .date {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #8f8f8f;
  height: 42px;
  padding-top: 15px;
}
.news-page .content .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #719e3d;
  margin-top: -4px;
}
.news-page .content .title * {
  color: #719e3d;
}
.news-page .content .title a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcIckECsQAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NoPxgJAAN0AaL44q9RAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.news-page .content .text {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.news-page .content img {
  max-width: 500px;
  height: auto !important;
  display: block;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.news-page .content p,
.news-page .content p img {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.news-page .navigation {
  width: 100%;
}
.news-page .navigation .prev {
  float: left;
  width: 225px;
  padding-left: 44px;
}
.news-page .navigation .prev .inactive {
  color: #8f8f8f;
}
.news-page .navigation .prev .arrow {
  display: inline-block;
  width: 12px;
  height: 9px;
  background: url(../../img/nav-arrow-prev.png) left top no-repeat;
  margin-right: 6px;
}
.news-page .navigation .next {
  float: left;
  width: 225px;
}
.news-page .navigation .next .inactive {
  color: #8f8f8f;
}
.news-page .navigation .next .arrow {
  display: inline-block;
  width: 12px;
  height: 9px;
  background: url(../../img/nav-arrow-next.png) left top no-repeat;
  margin-left: 6px;
}
