// Колонки
@mainCol1:              225px;
@mainCol2:              382px;
@mainCol3:              359px;
@mainCol:               @mainCol1 + @mainCol2 + @mainCol3;  // 966
@commonWidth:           1024px;
@commonPaddingV:        0px;
@commonPaddingH:        29px;


// Основные отступы
@smallPadding:          11px;
@middlePadding:         18px;
@bigPadding:            @smallPadding * 2;  // 22


// Шапка, футер
@headerH:               142px;
@footerH:               123px;
@footerPaddingTop:      80px;


// Заголовок
@mainTitleH:            120px;
@pageTitleH:            90px;


// Цвета
@devRedBg:              rgba(255,0,0,0.2);
@devGreenBg:            rgba(0,255,0,0.2);
@devBlueBg:             rgba(0,0,255,0.2);
@devMagentaBg:          rgba(255,0,255,0.2);
@devGreyBg:             rgba(0,0,0,0.05);

@colorText:             #2b2b2b;
@colorTextLight:        #8f8f8f;

@colorTitle:            #4f9714;
@colorTitleGrey:        #767676;
@colorTitleLightGrey:   #b2b2b2;

@colorLink:             #0074ce;
@colorLinkHover:        #4f9a00;
@colorLinkActive:       #ffffff;
@colorLinkActiveBg:     @colorInvertTextBg;
@colorStudioLink:       #fa1010;
@colorNewsLink:         #56b312;

@colorMenu:             @colorLinkHover;
@colorSubMenu:          @colorTextLight;

@colorInvertTextBg:     #75b239;


// Контент
@newsImageW:            500px;



// -------------------------------
// Fonts

// Sizes
.font-size(11, @lh:18px) {
    font-size: 11px;
    line-height: @lh;
    a {
        // background-position: center 12px;
    }
}
.font-size(12, @lh:19px) {
    font-size: 12px;
    line-height: @lh;
    a {
        // background-position: center 14px;
    }
}
.font-size(14, @lh:22px) {
    font-size: 14px;
    line-height: @lh;
    a {
        // background-position: center 15px;
    }
}
.font-size(16, @lh:24px) {
    font-size: 16px;
    line-height: @lh;
    a {
        // background-position: center 17px;
    }
}
.font-size(18, @lh:24px) {
    font-size: 18px;
    line-height: @lh;
    a {
        // background-position: center 20px;
    }
}
.font-size(22, @lh:27px) {
    font-size: 22px;
    line-height: @lh;
    a {
        // background-position: center 25px;
    }
}
.font-size(25, @lh:35px) {
    font-size: 25px;
    line-height: @lh;
    a {
        // background-position: center 27px;
    }
}
.font-size(34, @lh:38px) {
    font-size: 34px;
    line-height: @lh;
    a {
        // background-position: center 38px;
    }
}

// Family
.font(PF, regular) {
    font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(PF, medium) {
    font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(PF, bold) {
    font-family: "pf_dindisplay_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(Verdana) {
    font-family: "verdanaregular", Helvetica, Arial, sans-serif;
}


// ------------------------------------------
// Links

@linkBgPos: 99%;

.link() {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ4dJWDGAAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NgKDkHAAG6AUOAsccMAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(hover) {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(submenu) {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBRA6VCtMtAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Po7+8HAANeAa4/FTM4AAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(title) {
    .link(hover);
}
.link(none) {
    text-decoration: none;
    // display: inline;
    background-image: none;
}



// ------------------------------------------------------

/* Главная разметка */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    .font(Verdana);
}
body {
    .font-size(12);
    color: @colorText;
    background-color: #fff;
}
.page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.wrap {
    padding-bottom: @footerH;
}

a {
    &, &:visited, &:link {
        .link();
        color: @colorLink;
    }
    &:hover {
        .link(hover);
        color: @colorLinkHover !important;
        __text-decoration: underline !important;      // important для того, чтобы можно было задать цвет текста, а наведение осталось прежним
    }
    &.active {
        .link(none);
        color: @colorText !important;
        __text-decoration: none;
    }
}

p {
    margin: 0px;
    padding: 0px;
}

/* Общий контейнер */
.common-container {
    _background-color: @devGreyBg;

    position:       relative;
    width:          @commonWidth;
    padding:        @commonPaddingV @commonPaddingH;
    margin-right:   auto;
    margin-left:    auto;
    
    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}


// Заголовок
.inner-title(@h:@pageTitleH) {
    .font(PF, medium);
    .font-size(34, @h);
    color:      @colorTitle;
    height:     @h;
    min-height: @h;

    grey {
        color:  @colorTitleGrey;
    }

    lightgrey {
        color:  @colorTitleLightGrey;
    }
}
.main-title(@h) {
    .inner-title;
    .font-size(34);
    height:     @h;
    min-height: @h;
}


// Колонка
.col() {
    _outline: 1px dotted #808080;
    
    width: auto;
    min-width: 0;
    float: left;
    height: inherit;
    min-height: 1px;
}
.col(@w) {
    _outline: 1px dotted #808080;
    
    width: @w;
    min-width: @w;
    float: left;
    height: inherit;
    min-height: 1px;
}

// Локальное выделение текста
.invert-text() {
    .border-radius(2px);
    background: @colorInvertTextBg;
    color: #fff;
    font-weight: bold;
    padding: 3px 5px;
}

// Бордюры
.border-radius(@r) {
    -moz-border-radius:     @r;
    -webkit-border-radius:  @r;
    border-radius:          @r;
}
.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
    -moz-border-radius-topleft:         @topleft;
    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;

    -webkit-border-top-left-radius:     @topleft;
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;

    border-top-left-radius:             @topleft;
    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
}

// Разделитель
.separate-line() {
    border-top: #99b985 1px dotted;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
}

.head,
.footer {
    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }
}

.head {
    @topOffs: 41px;

    height:     @headerH;
    min-height: @headerH;

    .logo-block {
        padding: @topOffs @bigPadding 0 29px;
        & a {
            .link(none);
        }
    }
    .menu-block {
        padding: @topOffs @bigPadding 0 @bigPadding;
    }
}

.footer {
    _background-color: @devBlueBg;

    @topOffs: 32px;

    .font-size(11);
    color: @colorTextLight;
    height:     @footerH;
    min-height: @footerH;
    margin-top: -@footerH - 1;

    .footer-inner {
        _background-color: @devMagentaBg;
        height: 100%;
        padding-top: 12px;
        padding-bottom: 13px;
    }
    .separate-line {
        .separate-line();
        width: @mainCol2 + @mainCol3 - @bigPadding * 2;
        margin-left: @mainCol1 + @bigPadding;
    }

    .copyright {
        padding: @topOffs 0 0 @bigPadding;
    }
    .author {
        padding: @topOffs 0 0 @bigPadding;
        & a {
            .link(none);
            color: inherit !important;
        }
        .logo {
            display: none;
            float: left;
            margin-top: 8px;
            margin-right: 12px;
            width: 20px;
            height: 20px;
            background: url(../../img/logoDev.png) left top no-repeat;
        }
        .text {
            .studio {
                color: @colorStudioLink;
            }
        }
    }
    .menu-block {
        padding: @topOffs 0 0 @bigPadding;
    }
}
