// Колонки
@mainCol1:              225px;
@mainCol2:              382px;
@mainCol3:              359px;
@mainCol:               @mainCol1 + @mainCol2 + @mainCol3;  // 966
@commonWidth:           1024px;
@commonPaddingV:        0px;
@commonPaddingH:        29px;


// Основные отступы
@smallPadding:          11px;
@middlePadding:         18px;
@bigPadding:            @smallPadding * 2;  // 22

@paragraphPadding:      19px;       // По размеру основного 12 или 13 шрифта


// Шапка, футер
@headerH:               117px;
@footerH:               123px;
@footerPaddingTop:      92px;
@footerSeparatorColor:  #a6adb4;

// Заголовок
@mainTitleH:            120px;
@pageTitleH:            49px;
@pageTitleFontSize:     32;

// Цвета
@devRedBg:              rgba(255,0,0,0.2);
@devGreenBg:            rgba(0,255,0,0.2);
@devBlueBg:             rgba(0,0,255,0.2);
@devMagentaBg:          rgba(255,0,255,0.2);
@devGreyBg:             rgba(0,0,0,0.05);

@mainBg:                #fff;

@colorText:             #2b2b2b;
@colorTextLight:        #8f8f8f;

@colorTitle:            #719e3d;
@colorTitleGrey:        #2b2b2b;
@colorTitleLightGrey:   #929da0;

@colorLink:             #6a9e40;
@colorLinkHover:        #87c159;
@colorLinkBlue:         #00aff0;
@colorLinkBlueHover:    #48cdff;

@colorLinkActive:       #ffffff;
@colorLinkActiveBg:     @colorInvertTextBg;
@colorStudioLink:       #fa1010;
@colorNewsLink:         #56b312;

@colorInvertTextBg:     #84ab58; //#75b239;


// Контент
@newsImageW:            500px;      // Ширина картинки в новостях

// Главная страница
@widgetImageW:          115px;      // Ширина картинки в виджетах (News::IMAGE_SMALL_MAIN_W)


// -------------------------------
// Fonts

// Sizes
.font-size(11, @lh:18px) {
    font-size: 11px;
    line-height: @lh;
    a {
        // background-position: center 12px;
    }
}
.font-size(12, @lh:19px) {
    font-size: 12px;
    line-height: @lh;
    a {
        // background-position: center 14px;
    }
}
.font-size(13, @lh:19px) {
    font-size: 13px;
    line-height: @lh;
    a {
        // background-position: center 14px;
    }
}
.font-size(14, @lh:22px) {
    font-size: 14px;
    line-height: @lh;
    a {
        // background-position: center 15px;
    }
}
.font-size(16, @lh:24px) {
    font-size: 16px;
    line-height: @lh;
    a {
        // background-position: center 17px;
    }
}
.font-size(17, @lh:24px) {
    font-size: 17px;
    line-height: @lh;
    a {
        // background-position: center 17px;
    }
}
.font-size(18, @lh:24px) {
    font-size: 18px;
    line-height: @lh;
    a {
        // background-position: center 20px;
    }
}
.font-size(22, @lh:27px) {
    font-size: 22px;
    line-height: @lh;
    a {
        // background-position: center 25px;
    }
}
.font-size(25, @lh:35px) {
    font-size: 25px;
    line-height: @lh;
    a {
        // background-position: center 27px;
    }
}
.font-size(32, @lh:35px) {
    font-size: 32px;
    line-height: @lh;
    a {
        // background-position: center 38px;
    }
}

// Family
.font(PF, regular) {
    font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(PF, medium) {
    font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(PF, bold) {
    font-family: "pf_dindisplay_probold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.font(Verdana) {
    font-family: "verdanaregular", Helvetica, Arial, sans-serif;
}


// ------------------------------------------
// Links
// http://webcodertools.com/imagetobase64converter

@linkBgPos: 99%;

// Green
.link() {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjYpJzMjrgAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PImucAAAK+AUlYjpCuAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
// Light green
.link(hover) {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcIckECsQAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NoPxgJAAN0AaL44q9RAAAAAElFTkSuQmCC);    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(blue) {
    text-decoration: none;
    // display: inline;
//    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcpPigS7wAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NgWP8BAAJSAaDZMoIEAAAAAElFTkSuQmCC);

    // Взято из bluehover
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjgJgt4u6AAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PwOPsfAAN1AhUbRwS5AAAAAElFTkSuQmCC);

    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(bluehover) {
    text-decoration: none;
    // display: inline;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjgJgt4u6AAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12PwOPsfAAN1AhUbRwS5AAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}
.link(blue-dashed) {
    text-decoration: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3goVDzARdz05zwAAAAh0RVh0Q29tbWVudAD2zJa/AAAAFElEQVQI12PwOPv/v8fZ//8ZoAAASpUGJ+hlOQoAAAAASUVORK5CYII=);
    background-repeat: repeat-x;
    background-position: center @linkBgPos;
}

.link(title) {
    .link(hover);
}
.link(none) {
    text-decoration: none;
    // display: inline;
    background-image: none;
}



// ------------------------------------------------------

/* Главная разметка */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    .font(Verdana);
}
body, table {
    .font-size(13);
    color: @colorText;
    background-color: @mainBg;
}
*:focus {
    outline: none;
}
body > .page {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    & > .wrap {
        padding-bottom: @footerH;
    }
}

a {
    &, &:visited, &:link {
        .link();
        color: @colorLink;
    }
    &:hover {
        .link(hover);
        color: @colorLinkHover !important;
    }
    &.active {
        .link(none);
        color: @colorText !important;
    }
}

p {
    margin: 0px;
    padding: 0px;
}

/* Общий контейнер */
.common-container {
    _background-color: @devGreyBg;

    position:       relative;
    width:          @commonWidth;
    padding:        @commonPaddingV @commonPaddingH;
    margin-right:   auto;
    margin-left:    auto;
    
    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}


// Заголовок
.inner-title(@fontSize:@pageTitleFontSize) {
    .font(PF, regular);
    .font-size(@fontSize, 1);
    color:      @colorTitle;
    padding-bottom: @bigPadding;
    padding-top: @smallPadding;
    white-space: nowrap;

    grey {
        color:  @colorTitleGrey;
    }

    lightgrey {
        color:  @colorTitleLightGrey;
    }
}
.main-title(@h) {
    .inner-title();
    padding-top: 0;
}


// Колонка
.col() {
    //outline: 1px dotted #808080;
    
    width: auto;
    min-width: 0;
    float: left;
    height: inherit;
    min-height: 1px;
}
.col(@w) {
    //outline: 1px dotted #808080;
    
    width: @w;
    min-width: @w;
    float: left;
    height: inherit;
    min-height: 1px;
}

// Бордюры
.border-radius(@r) {
    -moz-border-radius:     @r;
    -webkit-border-radius:  @r;
    border-radius:          @r;
}
.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
    -moz-border-radius-topleft:         @topleft;
    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;

    -webkit-border-top-left-radius:     @topleft;
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;

    border-top-left-radius:             @topleft;
    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
}

// Тень
.shadow(@offsX, @offsY, @blur, @alpha:0.3) {
    box-shadow:         @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  @offsX @offsY @blur rgba(0,0,0,@alpha);
}
.shadow-inner(@offsX, @offsY, @blur, @alpha0:.3) {
    box-shadow:         inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  inset @offsX @offsY @blur rgba(0,0,0,@alpha);
}

// Разделитель
.separate-line() {
    background: #cacaca;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
}
.separator {
    .separate-line();
    width: 100%;
}

.head,
.footer {
    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }
}

.head {
    height:     @headerH;
    min-height: @headerH;

    .logo-block {
        padding: 44px @bigPadding 0 @bigPadding;
        & a {
            .link(none);
        }
    }
    .menu-block {
        padding: @middlePadding @bigPadding 0 @bigPadding;
    }
}

.footer {
    _background-color: @devBlueBg;

    @topOffs: @middlePadding * 2;

    .font-size(11);
    color: @colorTextLight;
    height:     @footerH;
    min-height: @footerH;
    margin-top: -@footerH - 1;

    .footer-inner {
        _background-color: @devMagentaBg;
        height: 100%;
        padding-bottom: 13px;
    }
    .separate-line {
        border-top: 1px dashed @footerSeparatorColor;
        height: 1px;
        min-height: 1px;
        max-height: 1px;

        width: @mainCol2 + @mainCol3 - @bigPadding * 2;
        margin-left: @mainCol1 + @bigPadding;
    }

    .cont {
        position: relative;
    }
    .home-icon {
        width: 19px;
        height: 16px;
        background: url(../../img/mainpage/home_icon.jpg) left top no-repeat;
        display: block;
        
        position: absolute;
        top: @topOffs;
        left: 50%;
        margin-left: -10px;
    }
    .facebook-icon {
        width: 19px;
        height: 19px;
        background: url(../../img/mainpage/facebook_icon.png) left top no-repeat;
        display: block;

        position: absolute;
        top: @topOffs;
        right: 70px;
    }

    .copyright {
        padding: @topOffs 0 0 @bigPadding;

        a {
            .link(blue);
            color: @colorLinkBlue !important;
        }
        a:hover {
            .link(bluehover);
            color: @colorLinkBlueHover !important;
        }
    }
    .social {

    }
    .author {
        padding: @topOffs 0 0 @bigPadding;
        a {
            .link(none);
            color: inherit !important;
        }
        .logo {
            display: none;
            float: left;
            margin-top: 8px;
            margin-right: 12px;
            width: 20px;
            height: 20px;
            background: url(../../img/logoDev.png) left top no-repeat;
        }
        .text {
            .studio {
                color: @colorStudioLink;
            }
        }
    }
    .menu-block {
        padding: @topOffs 0 0 @bigPadding;
    }
}
