@import (reference) 'custom';

// Отключаем выделение на уровне CSS
*[unselectable=on] {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map-page {
    min-height: 1px;

    .title {
        .inner-title;
        padding-left: @bigPadding;
    }

    .col1 {
        .col(@mainCol1);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }
}

.svg-map {
}

.map-container {
    width: 100%;
    min-width: @commonWidth;
    height: 700px;
    overflow: hidden;
    background: #ACCCA6;
    position: relative;
}
.map {
    height: 100%;
    width: 2048px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -1024px;
}


.filter {
    @headerH:           44px;
    @windowW:           219px;
    @windowH:           386px;
    @checkboxW:         17px;
    @checkboxH:         17px;
    @checkboxPadding:   14px;   // Отступ справа до текста 

    // Не учитываем высоту окна, чтобы окно не перекрывало нажатие
    width: @windowW;
    height: @headerH;           
    min-height: @headerH;       

    position: absolute;
    left: @smallPadding;
    top: @smallPadding;
    z-index: 5;

    .font-size(12);

    .header {
        background: url(../../img/map/filter_header.png) left top no-repeat;
        width: inherit;
        height: @headerH;
        line-height: @headerH;
        padding: 0 @bigPadding 0 @bigPadding;
        color: @colorLinkActive;
        position: relative;

        font-weight: bold;

        .arrow {
            position: absolute;
            right: (@headerH - 12)/2;
            top: (@headerH - 12)/2;
            width: 12px;
            height: 12px;
            background: url(../../img/map/arrow.png) left top no-repeat;

        }
        .rotate {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
        .transition {
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            -ms-transition: all .2s ease;
            transition: all .2s ease;
        }
    }
    .window {
        background: url(../../img/map/filter_window.png) left top no-repeat;
        width: inherit;
        height: @windowH;
        padding: 0 @bigPadding 0 @bigPadding;

        input[type="checkbox"] {
            display:none;
        }
        input[type="checkbox"] + label span {
            display:inline-block;
            width: @checkboxW;
            height: @checkboxH;
            margin:-2px @checkboxPadding 0 0;
            vertical-align:middle;
            background: url(../../img/map/check.png) left top no-repeat;
            cursor:pointer;
            margin-left: -(@checkboxW + @checkboxPadding);     // Чтобы перенос слов был друг под другом
        }
        input[type="checkbox"]:checked + label span {
            background: url(../../img/map/check_active.png) left top no-repeat;
        }
        input[type="checkbox"] + label {
            cursor:pointer;
            margin-left: @checkboxW + @checkboxPadding;     // Чтобы перенос слов был друг под другом
            font-weight: normal;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                padding-top: 7px;
                padding-bottom: 7px;
                height: 17px + 7px * 2;
            }
        }

        .status-title {
            height: 38px;
            line-height: 38px;
            font-weight: bold;
        }
        .status-text {
            height: 89px;
            padding-top: 10px;
        }
        .structure-title {
            height: 55px;
            padding-top: 11px;
            font-weight: bold;
        }
        .structure-text {
            height: 200px;
            padding-top: 13px;
        }
    }
}

.modal-dialog {
    @windowW:               308px;
    @windowPadding:         7px;
    @innerPadding:          @bigPadding;
    @headerH:               59px;
    @titleColor:            #368521;
    @headerSeparatorColor:  #c7bfbf;
    @itemSeparatorColor:    rgba(192,208,184,0.8);

    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    //pointer-events: none;

    width: @windowW - @windowPadding * 2;
    margin: @windowPadding;

    .modal-content {
        .border-radius(3);
        position: relative;
        background-color: rgba(255,255,255,0.8);
        overflow: hidden;       // Чтобы скругление бордюра было и на заголовке

        .close {
            //pointer-events: auto;
            width: 38px;
            height: 35px;
            opacity: 0.5;
            &:hover {
                opacity: 0.7;
            }
        }

        .header {
            .font(PF, medium);
            .font-size(18, @headerH);
            
            width: inherit;
            height: @headerH;
            white-space: nowrap;
            padding-left: @innerPadding;
            border-bottom: 1px solid @headerSeparatorColor;
            color: @titleColor;
            background-color: rgba(226,226,226,1);

            .number {
                display: inline-block;
                color: @colorText;
            }
        }

        .window {
            .font-size(12);

            width: @windowW - @windowPadding * 2 - @innerPadding * 2;
            margin-left: @innerPadding;
            //margin-bottom: @smallPadding;
            color: @titleColor;

            &.busy {
                display: none;
            }
            &.free {

            }

            .item {
                width: inherit;
                min-height: 47px;
                padding-top: 14px;
                padding-bottom: 14px;

                border-bottom: 1px solid @itemSeparatorColor;

                &.last {
                    border-bottom: none;
                }

                .text {
                    display: inline;
                    color: @colorText;
                }
            }
        }
    }
}

.nav {
    .shadow(1px, 3px, 9px);

    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    margin: @smallPadding;
    opacity: 0.9;

    .window {
        border: 1px solid rgba(0,0,0,0.2);
        background: url(../../img/map/map_nav.png) left top no-repeat;
    
        display: none;
        &.show {
            display: block;
        }
    }


    .switch-button {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        width: 48px;
        height: 48px;

        .shadow(0px, 2px, 3px);
        background: rgba(255,255,255,0.2);
        &:hover {
            background: rgba(255,255,255,0.4);
        }

        &.show {
            .shadow(0,0,0);
            background: rgba(255,255,255,0.2);
            &:hover {
                background: rgba(255,255,255,0.4);
            }
        }

        & > span {
            font-size: 27px;
            padding:9px;
            opacity:0.5;
        }
    }
}

.zoom {
    position: absolute;
    right: 0;
    top: 311px;
    z-index: 4;
    margin: @smallPadding;
    opacity: 0.9;

    .plus, .minus {
        .shadow(0px, 2px, 3px);
        .border-radius(3);

        width: 48px;
        height: 48px;
        background: rgba(255,255,255,0.2);
        &:hover {
            background: rgba(255,255,255,0.4);
        }
        & > span {
            font-size: 27px;
            padding:9px;
            opacity:0.5;
        }
    }
    .plus {
        margin-bottom: @smallPadding;
    }
}


.markers {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;

    .marker {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .red, .green, .yellow, .blue, .purple {
        width: 40px;
        height: 44px;
        margin-left: -20px;
        margin-top: -44px;
    }
    .red {
        background: url(../../img/map/red.png) left top no-repeat;
    }
    .green {
        background: url(../../img/map/green.png) left top no-repeat;
    }
    .yellow {
        background: url(../../img/map/yellow.png) left top no-repeat;
    }
    .blue {
        background: url(../../img/map/blue.png) left top no-repeat;
    }
    .purple {
        background: url(../../img/map/purple.png) left top no-repeat;
    }
}


// Отключаем линию в подвале
.footer {
    .footer-inner {
        .separate-line {
            display: none;
        }
    }
}