@import (reference) 'custom';

.presentation-page {
    @videoPadding:  1px;
    @videoW:        @mainCol1 + @mainCol2 - @videoPadding * 2;
    @videoH:        382px / 680px * @videoW;

    .col1 {
        .col(@mainCol1);
    }
    .col2-3 {
        .col(@mainCol2+@mainCol3);
        padding-left: @bigPadding;
        padding-right: @bigPadding;
    }

    .cont {
        position: relative;
    }
    .title {
        z-index: 2;
        .inner-title();
    }
    .video {
        z-index: 2;
        background: #ccc;
        width: @videoW + @videoPadding * 2;
        height: @videoH + @videoPadding * 2;
        padding: @videoPadding;

        iframe {
            width: @videoW;
            height: @videoH;
        }
    }
}
