{{ import('css','aboutProject.css','ext.widgets.mainPage.css') }}

<div class='about-project-widget cont'>
    <div class='title'>
        <a href="{{ static('CHtml', 'normalizeUrl', ['/about']) }}">О проекте</a>
    </div>
    <div class='image'>
        <img src='/img/aboutProjectBg.jpg'>
    </div>
    <div class='text'>
        ПРО-БИЗНЕС-ПАРК проект комплексного освоения и развития индустриальной зоны в г. Екатеринбурге, Чкаловского района, предустмотренный генеральным планом развития МО &laquo;Город Екатеринбург&raquo;.
    </div>
</div>