{{ import('css','aboutProject.css','ext.widgets.mainPage.css') }}

<div class='about-project-widget'>
    <div class='image'>
        <img src='img/about_map_icon.png'>
    </div>
    <div class='text'>
        Про-Бизнес-Парк проект комплексного освоения и развития индустриальной зоны в г. Екатеринбурге, Чкаловского района, предустмотренный генеральным планом развития МО "Город Екатеринбург".
    </div>
</div>