{{ import('css','aboutProject.css','ext.widgets.mainPage.css') }}

<div class='about-project-widget cont'>
    <div class='title'>
        <a href="{{ static('CHtml', 'normalizeUrl', ['/about']) }}">О проекте</a>
    </div>
    <div class='image'>
    </div>
    <div class='text'>
        Про-Бизнес-Парк проект комплексного освоения и развития индустриальной зоны в г. Екатеринбурге, Чкаловского района, предустмотренный генеральным планом развития МО "Город Екатеринбург".
    </div>
</div>