.department-of-land-sales-widget {
    border: 1px solid;
    border-color: rgba(0,0,0,0.3);
    background: url(../../img/department_of_sales_icon.png) center bottom no-repeat;
    width: 200px;
    height: 165px;
}

.department-of-land-sales-title {

}

.department-of-land-sales-phone {

}
.department-of-land-sales-phone .code {
    float: left;
}
.department-of-land-sales-phone .phone {

}

.department-of-land-sales-text {
    text-align: center;
}