{{ import('css','departmentOfLandSales.css','ext.widgets.mainPage.css') }}

<div class='department-of-land-sales-widget'>
    <div class='title'>
        P
    </div>
    <div class='phone'>
        <span class='code'>343</span>456-76-21
    </div>
    <div class='text'>
        Отдел продаж земельных участков
    </div>
</div>
