{{ import('css','engineeringInfrastructure.css','ext.widgets.mainPage.css') }}

<div class='engineering-infrastructure-widget'>
    <div class='item1'>
        <div class='title'><a href='{{ static('CHtml', 'normalizeUrl', ['/structure']) }}'>Инженерная инфраструктура</a></div>
        <div class='image'>
            <img src='img/infrastructure_icon.png'>
        </div>
        <div class='text'>
            Каждый земельный участок индустриального парка обеспечен инженерными коммуникациями и необходимыми энергоресурсами.
        </div>
    </div>

    <div class='item2'>
        <div class='title'><a href='{{ static('CHtml', 'normalizeUrl', ['/structure']) }}'>Управляющая компания</a></div>
        <div class='image'>
            <img src='img/extruder.png'>
        </div>
        <div class='text'>
            Управление инфраструктурой индустриального парка осуществляется силами профессиональной команды «ПРО-БИЗНЕС-ПАРК».
        </div>
    </div>
</div>
