{{ import('css','services.css','ext.widgets.mainPage.css') }}

<div class='services-widget'>
    <div class='text'>
        <a href='{{ static('CHtml', 'normalizeUrl', ['/company']) }}'>Услуги<br/>управляющей<br/>компании</a>
    </div>
    <div class='image'>
        <img src='img/services_icon.png'>
    </div>
</div>