{{ import('css','services.css','ext.widgets.mainPage.views') }}

<div class='services-widget'>
    <a href='{{ static('CHtml', 'normalizeUrl', ['/company']) }}'>Услуги управляющей компании</a>
    <img src='img/services_icon.png'>
</div>