{{ import('css','slogan.css','ext.widgets.mainPage.css') }}

<div class='slogan-widget'>
    <div class='text1'>
        Мы создаем благоприятные
    </div>
    <div class='text2'>
        условия для размещения
    </div>
    <div class='text3'>
        и развития Вашего бизнеса
    </div>
</div>
