{{ import('css','square.css','ext.widgets.mainPage.css') }}

<div class='square-widget'>
    <div class='summary'>
        <invert>S = 180 га</invert>
    </div>
    <div class='sold'>
        <a href='#'>Продается 22 участка</a><br/>
        (21 га)
    </div>
    <div class='sales'>
        <a href='#'>Продано 55 участков</a><br/>
        (159 га)
    </div>
</div>