{{ import('css','square.css','ext.widgets.mainPage.css') }}

<div class='square-widget'>
    <div class='summary'>
        <invert>S = 180 га</invert>
    </div>
    <div class='sold'>
        <a href='#'>Продается 12 участков</a><br/>
        (34 га)
    </div>
    <div class='sales'>
        <a href='#'>Продано 8 участков</a><br/>
        (53 га)
    </div>
</div>