{{ import('css','title.css','ext.widgets.mainPage.views') }}

<div class='title-widget'>
    <div class='title-text'>
        {{ title|raw }}
    </div>
    <div class='title-desc'>
        {{ titleDesc|raw }}
    </div>
</div>