{{ import('css','title.css','ext.widgets.mainPage.css') }}

<div class='title-widget'>
    <div class='text1'><grey>Профессиональные</grey> инфраструктурные</div>
    <div class='text2'>решения современного бизнеса</div>
</div>