{{ import('css','workLine.css','ext.widgets.mainPage.views') }}

<div class='work-line-widget'>
    <a href='{{ static('CHtml', 'normalizeUrl', ['/work-line']) }}'>От слов к делу</a>
    <img src='img/work_line_icon.png'>
</div>