.project-page-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.project-page-content-pos {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
}

.projects-menu-block {
    width: 100%;
}
.project-block {
    width: 100%;
}

.project-block-title {
    color: #e6e6e6;
    font-size: 24px;
    vertical-align: top;
    line-height: 1em;
}

.project-block-link {
    width: 100%;
}
.project-block-link-icon {
    text-align: center;
    vertical-align: middle;
}
.project-block-link-url {
    vertical-align: middle;
}

.project-block-nav {
    _background: rgba(255,0,0,0.2);
    width:100%;
}
.project-block-menu {
    _background: rgba(255,0,0,0.2);
    width: 50%;
    text-align: left;
    vertical-align: middle;
}
.project-block-menu ul {
    margin-left: -6px;          /* обратный left-отступ из li */
}
.project-block-menu li {
    padding: 2px 5px 3px 6px;   /* левый отступ компенсируется в ul */
    line-height: 15px;
    float: left;
}
.project-block-menu li a {
    font-size: 12px;
}
.project-block-menu li.active {
    background: #e5e5e5;
}
.project-block-menu li.active a {
    color: #272727;
    text-decoration: none;
}

.project-block-publish-time {
    _background: rgba(255,0,255,0.2);
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.project-block-left-column {
    _background: rgba(0,0,255,0.2);
}
.project-block-right-column {
    _background: rgba(0,0,255,0.2);
}
.project-block-content {
    _background: rgba(0,255,0,0.2);
}
.project-block-goal {
    background: #f1f1f1;
    width: 100%;
}
.project-block-goal td {
    vertical-align: middle;
}
.project-block-goal-title {
    color: #35688d;
}
.project-block-result {

}
.project-block-process {

}