@import (reference) '../../../views/less/custom';

.residents-page {
    .col2 > .title {
        .inner-title;
        padding-left: @bigPadding;
    }
    table td {
        float: none !important;
        vertical-align: top;
    }
    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }

    .vmenu {
        li {
            padding-bottom: @middlePadding;
            padding-left: @bigPadding;
        }
    }

    .item {
        @itemHeight: 195px;

        border-bottom: 1px solid @colorTitleLightGrey;

        .image {
            padding: @bigPadding*2 0 @bigPadding @bigPadding;
            text-align: center;
        }
        .name {
            .font(PF, medium);
            .font-size(18);
            padding: @bigPadding*2 0 @bigPadding 0;
            text-align: center;

            & * {
                color: inherit;
            }
            a {
                .link(title);
            }
        }
        .textBlock {
            margin-bottom: @bigPadding;

            .text {
                padding-top: @bigPadding;
            }
            .phones {
                padding-top: @bigPadding;
            }
            .site {
                padding-top: @smallPadding;
            }
            .text, .phones, .site {
                padding-right: @bigPadding;
                padding-left: @bigPadding;
            }
        }

        &.first {
            .image, .name {
                padding-top: 0;
            }
        }
        &.last {
            border-bottom: none;
        }
    }
}

