@import (reference) '../../../views/less/custom';

.main-menu-widget {
    ul {
        padding-left:  @smallPadding;
        padding-right: @smallPadding;
    }
    li {
        padding-left:  15px;
        padding-right: 15px;
    }
    li, li * {
        .font-size(14);
        color: @colorMenu;
        line-height: 1;
    }

    a {
        background: none;
    } 
}