@import (reference) '../../../views/less/custom';

.main-menu-second-widget {
    .font-size(14);
    .font(PF, regular);

    //.border-radius(5px);
    //border: 1px solid @colorTitleGrey;
    //margin-top: -5px;
    //margin-left: -9px;
    //padding: 5px 9px 4px 9px;

    padding-bottom: @bigPadding;    

    ul {
    }
    li {
        padding-left:  @bigPadding / 2;
        padding-right: @bigPadding / 2;
    }
    li, li * {
        color: @colorSubMenu;
        line-height: 1;
    }
}