@import (reference) '../../../views/less/custom';

.main-menu-widget {
    .font-size(14);
    ul {
    }
    li {
        padding-left:  15px;
        padding-right: 15px;
    }
    li, li * {
        color: @colorMenu;
        line-height: 1;
    }
}