@import (reference) '../../../views/less/custom';

.main-menu-second-widget {
    padding-bottom: @bigPadding;    

    ul {
        padding-left:  @smallPadding;
        padding-right: @smallPadding;
    }
    li {
        padding-left:  @smallPadding;
        padding-right: @smallPadding;
    }
    li, li * {
        .font-size(12);
        color: @colorSubMenu;
        line-height: 1;
    }
}