{{ import('css','city.css','ext.widgets.views') }}

<script type="text/javascript">
$(document).ready( function()
{
    function time()
    {
        var today = new Date();
        var hours = today.getHours();
        var min = today.getMinutes();
        if (hours < 10)
            hours = "0" + hours;
        if (min < 10)
            min = "0" + min;
        $('#js-city-widget-time').html(hours+' : '+min);
    }
    setInterval(time, 5000);
    time();
});
</script>
</script>

<div class='city-widget'>
    <div class='city'>Екатеринбург</div>
    <div class='time' id='js-city-widget-time'>00 : 00</div>
</div>