.residents-page {
  padding-bottom: 92px;
}
.residents-page .col2 > .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  white-space: nowrap;
  padding-left: 22px;
}
.residents-page .col2 > .title grey {
  color: #767676;
}
.residents-page .col2 > .title lightgrey {
  color: #929da0;
}
.residents-page table td {
  float: none !important;
  vertical-align: top;
}
.residents-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2 {
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col3 {
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding-top: 35.5px;
}
.residents-page .vmenu li {
  font-size: 12px;
  line-height: 19px;
  padding-bottom: 22px;
  padding-left: 22px;
}
.residents-page .item .image {
  padding: 44px 0 44px 22px;
  text-align: center;
}
.residents-page .item .name {
  font-family: "verdanaregular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding: 55px 0 44px 0;
  text-align: center;
}
.residents-page .item .name * {
  color: inherit;
}
.residents-page .item .name a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkcEjcIckECsQAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12NoPxgJAAN0AaL44q9RAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.residents-page .item .textBlock {
  margin-bottom: 44px;
}
.residents-page .item .textBlock p {
  margin-bottom: 19px;
}
.residents-page .item .textBlock .phones {
  padding-bottom: 5px;
}
.residents-page .item .textBlock .text,
.residents-page .item .textBlock .phones,
.residents-page .item .textBlock .site {
  padding-right: 22px;
  padding-left: 22px;
}
.residents-page .item .separate {
  background: #cacaca;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
  margin-left: 22px;
}
.residents-page .item.first .image,
.residents-page .item.first .name {
  padding-top: 0;
}
