.residents-page .col2 > .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 90px;
  color: #4f9714;
  height: 90px;
  min-height: 90px;
  padding-left: 22px;
}
.residents-page .col2 > .title grey {
  color: #767676;
}
.residents-page .col2 > .title lightgrey {
  color: #b2b2b2;
}
.residents-page table td {
  float: none !important;
  vertical-align: top;
}
.residents-page .col1 {
  _outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2 {
  _outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col3 {
  _outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2-3 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .vmenu li {
  padding-bottom: 18px;
  padding-left: 22px;
}
.residents-page .item {
  border-bottom: 1px solid #b2b2b2;
}
.residents-page .item .image {
  padding: 44px 0 22px 22px;
  text-align: center;
}
.residents-page .item .name {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 44px 0 22px 0;
  text-align: center;
}
.residents-page .item .name * {
  color: inherit;
}
.residents-page .item .name a {
  text-decoration: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center 99%;
}
.residents-page .item .textBlock {
  margin-bottom: 22px;
}
.residents-page .item .textBlock .text {
  padding-top: 22px;
}
.residents-page .item .textBlock .phones {
  padding-top: 22px;
}
.residents-page .item .textBlock .site {
  padding-top: 11px;
}
.residents-page .item .textBlock .text,
.residents-page .item .textBlock .phones,
.residents-page .item .textBlock .site {
  padding-right: 22px;
  padding-left: 22px;
}
.residents-page .item.first .image,
.residents-page .item.first .name {
  padding-top: 0;
}
.residents-page .item.last {
  border-bottom: none;
}
