.residents-page .col2 > .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 90px;
  color: #4f9714;
  height: 90px;
  min-height: 90px;
  padding-left: 22px;
}
.residents-page .col2 > .title a {
  background-position: center 38px;
}
.residents-page .col2 > .title grey {
  color: #767676;
}
.residents-page .col2 > .title lightgrey {
  color: #b2b2b2;
}
.residents-page table td {
  float: none !important;
  vertical-align: top;
}
.residents-page .col1 {
  _outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2 {
  _outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col3 {
  _outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .col2-3 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.residents-page .item .image {
  padding-left: 22px;
  padding-top: 42px;
}
.residents-page .item .textBlock {
  min-height: 167px;
  margin-bottom: 28px;
}
.residents-page .item .textBlock .title {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #4f9714;
}
.residents-page .item .textBlock .title a {
  background-position: center 20px;
}
.residents-page .item .textBlock .title * {
  color: #4f9714;
}
.residents-page .item .textBlock .title a {
  text-decoration: none;
  display: inline;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkFBQ877nZyvAAAAAh0RVh0Q29tbWVudAD2zJa/AAAADElEQVQI12Pwn8UAAAIlAOp6J0C3AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  _background-position: center 0.99em;
}
.residents-page .item .textBlock .text {
  padding-top: 11px;
}
.residents-page .item .textBlock .title,
.residents-page .item .textBlock .text,
.residents-page .item .textBlock .phones,
.residents-page .item .textBlock .site {
  padding-right: 22px;
  padding-left: 22px;
}
