{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','about.css', 'application.modules.company.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div class='about-page'>
    <div class='col1'>
    </div>
    <div class='col2-3'>
        <div class='title'>
            О проекте
        </div>
    </div>

    <div class='col1'>
        {{ widget('ext.widgets.LeftMenuWidget', {'menuId':const('Menu','LEFT_MENU_CONTACTS')}) }}
    </div>
    <div class='col2-3'>
        <div class='content'>
            <div class='text'>
                «ПРО-БИЗНЕС-ПАРК» &mdash; проект комплексного освоения и развития территории индустриальной зоны в <a href='#'>Чкаловском районе г. Екатеринбурга</a>, предусмотренный Генеральным планом развития Муниципального Образования «город Екатеринбург»;
            </div>
            
            <div class='text'>
                <div class='image'><img src='/img/about/project_img.png'></div>
                <div class='imagetext'>
                    <div class='text2'>
                        Индустриальный парк расположен на пересечении Екатеринбургской кольцевой автодороге (ЕКАД) и автодороги «Екатеринбург-Полевской», что обеспечивает беспрепятственный доступ к автомобильным дорогам городского, областного и федерального значения, по которым будут организованы транспортные связи индустриального парка с конечными потребителями.
                    </div>
                    <div class='text3'>
                        Территория индустриального парка расположена в 15 км к югу от центра г. Екатеринбурга:
                    </div>
                    <div class='text2'>
                        <ul>
                            <li>20 минут до центра г.Екатеринбурга</li>
                            <li>25 минут до международного аэропорта «Кольцово»</li>
                            <li>30 минут до Центрального железнодорожного вокзала г. Екатеринбурга.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='clearfix'></div>

            <div class='text'>
                <div class='text2'>
                    <h6>Проект планировки «ПРО-БИЗНЕС-ПАРКА» предусматривает размещение</h6>
                    <ul>
                        <li>Объектов производственно-складской застройки;</li>
                        <li>Общественно-деловую застройку;</li>
                        <li>Объектов придорожной инфраструктуры, парковок;</li>
                        <li>Объектов инженерной инфраструктуры (технологические участки индустриального парка).</li>
                    </ul>
                </div>
                <div class='text2'>
                    Сегодня территория индустриального парка включает в себя производственные предприятия, предприятия строительной индустрии;  логистические предприятия (логистические комплексы), а также  Парк развлечений «DreamWorks»
                </div>
            </div>

            <div class='text'>
                <div class='text2'>
                    <h6>Проектом индустриального парка предусмотрены две очереди строительства</h6>
                    <div class='text3'>
                        1 очередь для размещения предприятий малого бизнеса с производственными площадями от&nbsp;2000&nbsp;до&nbsp;10000&nbsp;кв.м.
                    </div>
                    <div class='text3'>
                        2 очередь для размещения логистических, либо производственных предприятий среднего и крупного бизнеса, в том числе компаний федерального уровня.
                    </div>
                </div>
                <div class='text2'>
                    <ul>
                        <li>Все земельные участки индустриального парка поставлены на кадастровый учет, зарегистрировано право собственности;</li>
                        <li>Инженерная инфраструктура является общей для двух очередей индустриального парка.</li>
                    </ul>
                </div>
            </div>
                 
            <div class='text'>
                <div class='text2'>
                    <h6>Каждый участок обеспечен точками присоединения к инженерным сетям на границе земельного участка</h6>
                    <ul>
                        <li>Электроснабжение (10, 0,4 кВ II и III категории надежности);</li>
                        <li>Газоснабжение;</li>
                        <li>Водоснабжение;</li>
                        <li>Хозяйственно-бытовая;</li>
                        <li>Централизованные очистные сооружения индустриального парка.</li>
                    </ul>
                </div>
                <div class='text2'>
                    Резидентами индустриального парка «ПРО-БИЗНЕС-ПАРК» могут стать как российские, так и международные компании.
                </div>
            </div>

            <div class='text'>
                <div class='text2'>
                    Для получения профессиональной консультации по вопросам участия в проекте «ПРО-БИЗНЕС-ПАРК» Вы можете связаться по телефонам: %MAIN_PHONES%, %SALE_PHONES%,<br/>
                    либо направить запрос по электронной почте <a href='mailto:%EMAIL%'>%EMAIL%</a>
                </div>
            </div>
        </div>
        <div class='bottomGap'></div>
    </div>
</div>
{% endblock %}
