.vacancy-block {
    _background: rgba(0,0,255,0.5);
    min-height: 1px;
    display: inline-block;
}
.vacancy-block-title,
.vacancy-block-title * {
    font-size: 25px;
    color: #000000;
}
.vacancy-block-text {

}
.vacancy-block-text img {
    width: 100%;
    height: 100%;
}
.vacancy-right-block1,
.vacancy-right-block2 {
    min-height: 1px;
}
.vacancy-right-block2 {
    background: url(../../img/bg-pattern.png) left top repeat-y;
    opacity: 0.4;
}