.about-block {
    _background: rgba(0,0,255,0.5);
    min-height: 1px;
}
.about-item {

}
.about-item-question {

}
.about-item-answer {

}

.about-right-block1,
.about-right-block2 {
    min-height: 1px;
}
.about-right-block2 {
    background: url(../../img/bg-pattern.png) left top repeat-y;
    opacity: 0.4;
}