{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','base.css', 'application.modules.company.views') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div id='js-company-page-content' class='company-page-content  grid-bottom5'>
    <div id='js-company-page-content-pos' class='company-page-content-pos'>
        <div class='grid80'>

            <div id='js-company-page-menu' class='company-page-menu  grid16 left'>
                <div class='grid-left2'>
                    {% block innerLeft %}
                        {{ widget('ext.widgets.company.CompanyMenuWidget' ) }}
                    {% endblock %}
                </div>
            </div>

            <div class='company-page-inner'>
                {% block innerContent %}
                {% endblock %}            
            </div>

        </div>
    </div>
</div>
{% endblock %}