.command-block {
    _background: rgba(0,0,255,0.5);
    min-height: 1px;
    display: inline-block;
}
.command-item {
    margin-bottom: 8px;
}
.command-item-image {

}
.command-item-name {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 7px;
}
.command-item-position {
    line-height: 18px;
    margin-top: 3px;
}