.faq-title {
    position: relative;
    _background: rgba(255,255,0,0.5);
}
.faq-title-inner {
    position: absolute;
    _bottom: 0px;
    font-size: 25px;
    _background: rgba(255,0,0,0.5);
}
.faq-block {
    _background: rgba(0,0,255,0.1);
    min-height: 1px;
}
.faq-item {

}
.faq-item-question {
    margin-bottom: 1.2em;
}
.faq-item-question a {
    border-bottom: 1px dashed #327acd;
    padding-bottom: 1px;
    background: none;
}
.faq-item-question-num {
    color: #e05e0d;
    font-size: 11px;
    margin-top: 1px;
    padding-right: 0.3em;
    clear: both;
    margin-left: -12px;
    padding-right: 12px;
    text-align: right;
}
.faq-item-answer {
    margin-bottom: 1.7em;
    padding-top: 0.2em;
}
.faq-item-answer-arrow {
    _background: url(../../img/text-arrow-grey.png) no-repeat 1px center;
    padding-right: 0.3em;
}
.faq-item-answer-text {
    vertical-align: top;
    padding-left: 8px;
}

.faq-right-block1,
.faq-right-block2 {
    min-height: 1px;
}
.faq-right-block2 {
    background: url(../../img/bg-pattern.png) left top repeat-y;
    opacity: 0.4;
}