{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','contacts.css', 'application.modules.company.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div class='contacts-page'>
    <div class='title'>
        <div class='col1'></div>
        <div class='col2-3>'>
            Контактная информация
        </div>
    </div>

    <table border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td class='col1'></td>
        <td class='col2-3'>
            <div class="info-block">
                <div class="info">
                    Управляющая компания
                </div>
                <div class="phone">
                    +7 343 263-71-70
                </div>
            </div>
            <div class="info-block">
                <div class="info">
                    Отдел продаж
                </div>
                <div class="phone">
                    +7 343 344-99-99
                </div>
            </div>
            <div class="info-block">
                <div class="info">
                    г. Екатеринбург,<br>
                    <a href="http://maps.yandex.ru/?text=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%2C%20%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3%2C%20%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D0%BE%D0%B9%20%D0%92%D0%BE%D0%BB%D0%B8%2C%2019%D0%B0&amp;sll=60.591016%2C56.82373&amp;ll=60.591016%2C56.823730&amp;spn=0.023603%2C0.010401&amp;z=16&amp;l=map" target="_blank">ул. Народной Воли, 19а,</a><br>
                    офис 709
                </div>
            </div>
            <div class="info-block">
                <div class="info">
                    <a href="mailto:uk@p-b-p.ru">uk@p-b-p.ru</a>
                </div>
            </div>
        </td>
    </tr>
    </table>
    <div class='bottomGap'></div>

</div>
{% endblock %}
