{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','contacts.css', 'application.modules.company.views.company') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div class='contacts-page'>
    {{ widget('ext.widgets.ArticleWidget', {'type':const('Articles', 'TYPE_UNDER_CONSTRUCTION')}) }}
</div>
{% endblock %}
