.about-page {
  min-height: 1px;
}
.about-page .title {
  font-family: "APF DinDisplay Pro Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 90px;
  color: #4f9714;
  height: 90px;
  min-height: 90px;
  padding: 0 22px;
}
.about-page .title grey {
  color: #767676;
}
.about-page .title lightgrey {
  color: #b2b2b2;
}
.about-page .col1 {
  _outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.about-page .col2 {
  _outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.about-page .col3 {
  _outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.about-page .col2-3 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.about-page .content {
  padding: 0 22px;
  margin: 0;
}
.about-page .content .text {
  padding: 0;
  margin-bottom: 35px;
}
.about-page .content .text ul {
  list-style: none;
  padding: 0;
}
.about-page .content .text2 {
  padding: 0;
  margin-top: 20px;
}
.about-page .content .text3 {
  padding: 0;
  margin-top: 11px;
}
.about-page .content .text4 li {
  padding: 0;
  padding-bottom: 4px;
}
.about-page .content .image {
  float: left;
  width: 360px;
  padding-left: 6px;
  margin-top: -15px;
}
.about-page .content .imagetext {
  float: left;
  width: 315px;
  margin-left: 22px;
}
