.company-page {
  min-height: 1px;
}
.company-page .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  white-space: nowrap;
  padding-left: 22px;
}
.company-page .title grey {
  color: #767676;
}
.company-page .title lightgrey {
  color: #929da0;
}
.company-page table td {
  float: none !important;
  vertical-align: top;
}
.company-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page .col1 .image {
  line-height: 145px;
  text-align: center;
}
.company-page .col2 {
  width: 516px;
  min-width: 516px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding: 0 22px 92px 0;
}
.company-page .col2 .innertitle {
  font-family: "pf_dindisplay_promedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1;
  color: #767676;
  padding-top: 30px;
  padding-left: 22px;
}
.company-page .col2 .text {
  padding-top: 16px;
  padding-left: 22px;
}
.company-page .col3 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page .col1-2 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page .row1 {
  height: 145px;
  min-height: 145px;
}
.company-page .row2 .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page .row2 .col2 {
  width: 516px;
  min-width: 516px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.company-page ul.menu {
  list-style-type: none;
  padding: 50px 0 0 0;
  margin: 0;
  text-align: right;
}
.company-page ul.menu li {
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
}
.company-page ul.menu li.active {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d2d2d2;
  border-right: none;
}
.company-page ul.items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.company-page ul.items li {
  border-bottom: 1px dashed #d2d2d2;
  padding: 22px 0;
  margin: 0 22px;
}
.company-page ul.items li.last {
  border-bottom: none;
}
.company-page .contact-block {
  width: 100%;
  height: 278px;
  background: url(../../img/company_service_bg.png) left top no-repeat;
  padding: 22px;
}
.company-page .contact-block .row1 {
  height: 41px;
  min-height: 41px;
}
.company-page .contact-block .row2 {
  height: 79px;
  min-height: 79px;
}
.company-page .contact-block .row3 {
  height: 103px;
  min-height: 103px;
}
