.contacts-page {
  _background: rgba(0, 0, 255, 0.5);
  min-height: 1px;
}
.contacts-page > .title {
  font-family: "PF DinDisplay Pro Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 90px;
  color: #4f9714;
  height: 90px;
  min-height: 90px;
}
.contacts-page > .title grey {
  color: #767676;
}
.contacts-page .col1 {
  _outline: 1px dotted #808080;
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.contacts-page .col2-2 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.contacts-page .bottomGap {
  height: 0px;
  min-height: 0px;
}
