.contacts-page {
  _background: rgba(0, 0, 255, 0.5);
  min-height: 1px;
}
.contacts-page .title {
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  white-space: nowrap;
  padding-left: 22px;
}
.contacts-page .title grey {
  color: #667075;
}
.contacts-page .title lightgrey {
  color: #929da0;
}
.contacts-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.contacts-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding-left: 22px;
}
.contacts-page .bottomGap {
  height: 92px;
  min-height: 92px;
}
