@import (reference) '../../../../views/less/custom';

.about-project-widget {
    width: @mainCol3;
    height: 537px;
    background: url(../../img/aboutProjectBg.png) left top no-repeat;
    padding: @bigPadding;

    .title {
        .font(PF, medium);
        .font-size(18, 1);
        color: @colorTitleGrey;
        padding-top: 40px;
        padding-left: 36px;
    }
    .image {
    }
    .text {
        position: absolute;
        left: 0;
        bottom: 54px + @bigPadding;
        .font-size(11);
        line-height: 14px;
        color: @colorTitleGrey;
        padding-left: 30px + @bigPadding;
        padding-right: 30px + @bigPadding;
    }
}
