@import (reference) '../../../../views/less/custom';

.about-project-widget {
    width: 336px;
    height: 508px;
    background: #fff;
    padding: 0 32px;
    margin-top:  28px;
    margin-left: @smallPadding;

    .image {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .text {
        .font-size(11);
        line-height: 14px;
    }
}
