@import (reference) '../../../../views/less/custom';

.engineering-infrastructure-widget {

    .item1 {
        .col(@mainCol2);
        padding: @smallPadding;

        .title {
            .font(PF, regular);
            .font-size(20);
            color: @colorBlockTitle;
            width: 50%;
        }
        .image {
            padding-top: 8px;

        }
        .text {
            padding-top: 5px;
            padding-bottom: @smallPadding;
        }
        .link {

        }
    }

    .item2 {
        .col(@mainCol3);
        float: left;
        padding: 23px @smallPadding 0 @smallPadding;

        .image {
        }
        .text {
            padding-top: 18px;
        }
    }
}