@import (reference) '../../../../views/less/custom';

.news-lenta-widget {
    width: 100%;
    height: 176px;

    .link {
        width: 100%;
        height: 68px;
        min-height: 68px;
        padding: 24px @bigPadding 0px @bigPadding;
    }
    .items {
        width: 100%;
        height: 108px;
        min-height: 108px;

        .item1 {
            .col(@mainCol2);
            padding: 0 @bigPadding*2 0 @bigPadding;
        }
        .item2 {
            .col(@mainCol3);
            padding: 0 @bigPadding 0 @bigPadding;
        }
        .item1, .item2 {
            & a {
                color: @colorNewsLink;
            }
        }
    }
}