@import (reference) '../../../../views/less/custom';

.services-widget {
    @leftOffs: 32px;

    position: absolute;
    left: 0;
    top: 622px;
    width: 100%;

    .text {
        padding-left: @leftOffs;
        padding-right: @leftOffs * 3;
    }
    .image {
        padding-left: @leftOffs;
        padding-top: 40px;
    }
}