@import (reference) '../../../../views/less/custom';

.square-widget {
    padding: @bigPadding;

    .summary {
        & invert {
            .invert-text;
            display: inline-block;
            line-height: 1;
        }
    }
    .sold {
        padding-top: 18px;
        color: @colorTextLight;
    }
    .sales {
        padding-top: 12px;
    }
    .sales, .sales * {
        color: @colorTextLight;
    }
}