@import (reference) '../../../../views/less/custom';

.square-widget {
    padding: @bigPadding;


    a {
        .link(blue);
        color: @colorLinkBlue !important;
    }
    a:hover {
        .link(bluehover);
        color: @colorLinkBlueHover !important;
    }

    .summary {
        .font(PF, medium);
        .font-size(14, 1);
        padding-bottom: 15px;

        invert {
            .invert-text;
            display: inline-block;
            padding: 5px 7px 3px;
        }
    }
    .text {
        padding-bottom: 12px;
    }
    .sold {
        color: @colorTextLight;
        padding-bottom: 4px;
    }
    .sales {
    }
    .sales, .sales * {
        color: @colorTextLight;
    }
}