.works-on-main-widget {
    _background: rgba(255,0,0,0.2);
    display: table;
}


.works-on-main-big {
    _background: rgba(255,0,0,0.2);
}
.works-on-main-big-title {
    color: #282828;
    font-size: 28px;
    line-height: 21px;
    letter-spacing: 1px;

}
.works-on-main-big-desc {
    margin-top: 2px;
}
.works-on-main-big-more {
    background: url(../../img/text-arrow.png) right 7px no-repeat;
    display: inline-block;
    padding-right: 10px;
    margin-top: 6px;
}
.works-on-main-big-image {

}
.works-on-main-cont {

}