.project-item {

}
.project-item-date-cont {

}
.project-item-date {
    font-size: 10px;
    color: #89aeb5;
}
.project-item-image {

}
.project-item-title {
    text-transform: uppercase;
    color: #000000;
}
.project-item-desc {
}