.projects-menu-widget {
    display: inline-block;
    width: 100%;
}
.projects-menu-item-count {
    font-size: 10px;
    color: #b7b7b7;
    display: inline-table;
    margin-top: -1.5em;
    margin-left: -4px;
    margin-right: -2em;
}
