.works-on-main-widget {
    _background: rgba(255,0,0,0.2);
    display: table;
}


.works-on-main-big {
    _background: rgba(255,0,0,0.2);
}
.works-on-main-big-title {
    color: #282828;
    font-size: 28px;
    padding-top: 9px;
}
.works-on-main-big-desc {
    margin-top: 2px;
}
.works-on-main-big-image {

}
.works-on-main-big-image a {
    background: none;
}
.works-on-main-cont {

}