.project-item {

}
.project-item-date-cont {

}
.project-item-date {
    font-size: 10px;
    color: #89aeb5;
}
.project-item-image {

}
.project-item-title {
    font-size: 16px;
    color: #101010;
    white-space: nowrap;
    overflow: hidden;
}
.project-item-desc {
    line-height: 18px;
    margin-top: 3px;
}