@import (reference) '../../../views/less/custom';

.about-page {
    min-height: 1px;

    .title {
        .inner-title;
        padding-left: @bigPadding;
    }
    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }

    .content {
        padding: 0 @bigPadding;
        margin: 0;

        h6 {
            font-size: inherit;
            line-height: inherit;

            padding: 0;
            margin: 0;
            font-weight: bold;
            padding-bottom: 6px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li {
            //padding-bottom: 6px;
            margin: 0.5em 0 0.5em 1.2em
        }
        li:before {
            content: ' — ';
            margin-left: -1.5em;
        }

        .text {
            padding-bottom: 36px - 19px;
        }
        .text2 {
            padding-bottom: 19px;
        }
        .text3 {
            padding-bottom: 6px;
        }
        .image {
            float: left;
            width: @mainCol2 - @bigPadding;
            margin-top: 7px;
        }
        .imagetext {
            float: left;
            width: @mainCol3 - @bigPadding * 2;
            margin-left: @bigPadding;
        }

    }
}