.project-item {
	margin-bottom: 8px;
}
.project-item-date-cont {

}
.project-item-date {
    font-size: 10px;
    color: #89aeb5;
}
.project-item-image {

}
.project-item-image a {
    background: none;
}
.project-item-title {
    margin-top: 12px;
    line-height: 19px;
}
.project-item-desc {
    line-height: 18px;
    margin-top: 3px;
}