@import (reference) '../../../views/less/custom';

.news-page {
    .col2 > .title {
        .inner-title;
    }
    table td {
        float: none !important;
        vertical-align: top;
    }
    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }

    .filter {
        .font(PF, regular);
        .font-size(14);
        color: inherit;
        ul {

        }
        ul li {
            list-style: none;
            float: left;
        }
    }

    .content {
        img {
            max-width: @newsImageW;
            height: auto !important;
        }
    }
}
