@import (reference) 'base';

.news-page {
    .item {
        @dateHeight: 42px;
        @bottomPadding: 28px;
        @itemHeight: 195px;

        min-height: @itemHeight - @bottomPadding;
        height: @itemHeight - @bottomPadding;
        margin-bottom: @bottomPadding;

        .image {
            padding-left: @bigPadding;
            padding-top: @dateHeight;
        }
        .textBlock {
            .date {
                .font(PF, regular);
                color: @colorTextLight;
                height: @dateHeight;
                padding-top: 15px;
            }
            .title {
                .font(PF, medium);
                .font-size(18);
                color: @colorTitle;
                margin-top: -4px;
                & * {
                    color: @colorTitle;
                }
                a {
                    .link(title);
                }
            }
            .text {
                padding-top: 11px;
            }
            .date, .title, .text {
                padding-right: @bigPadding;
                padding-left: @bigPadding;
            }
        }
    }

    .moreBtn {
        border: 1px solid rgba(0,0,0,0.2);
        padding: 2px 4px;
        background: rgba(0,0,0,0.05);
        display: inline-block;
        margin-left: @bigPadding;
    }
}
