@import (reference) 'base';

.news-page {
    .date {
        color: @colorTextLight;
    }
    .title {
        .font-size(20);
        color: @colorTitle;
        & * {
            color: @colorTitle;
        }
    }
    .text {

    }
}
