@font-face {
    font-family: "Segoe UI Semibold";
    src: url(/fonts/Segoe%20UI%20Semibold.ttf) format("truetype");
}

.semibold {
    font-family: "Segoe UI Semibold", "wf_SegoeUI","wf_SegoeUILight","Tahoma","Verdana","Arial","sans-serif";*/
}
.contact-mail {
    color: #376e78;
    text-decoration: none;
    border-bottom: 1px solid #689299;
}
.contact-phone {
    padding-top: 3px;
    color: #2a2a2a;
}

/* Сетка */
.grid-left1     { margin-left: 18px; }
.grid-left2     { margin-left: 36px; }

.grid-right1    { margin-right: 18px; }
.grid-right2    { margin-right: 36px; }

.grid-top1      { margin-top: 18px; }
.grid-top2      { margin-top: 36px; }

.grid-bottom1   { margin-bottom: 18px; }
.grid-bottom2   { margin-bottom: 36px; }

.gridHeight1    { height: 18px; }
.gridHeight2    { height: 36px; }
.gridHeight3    { height: 54px; }
.gridHeight5    { height: 90px; }
.gridHeight7    { height: 126px; }
.gridHeight8    { height: 144px; }
.grid1          { width: 18px; }
.grid2          { width: 36px; }
.grid12         { width: 216px; }
.grid16         { width: 288px; }
.grid32         { width: 576px; }
.grid48         { width: 864px; }

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/** Borders **/
.border-cont {
    position: relative;
}
.border-l {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
}
.border-r {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
}
.border-t {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1px;
}
.border-b {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
}
