@font-face {
    font-family: "Segoe UI";
    src: url(/fonts/segoeui.ttf) format("truetype");
}
@font-face {
    font-family: "Segoe UI Semibold";
    src: url(/fonts/Segoe%20UI%20Semibold.ttf) format("truetype");
}
@font-face {
    font-family: "Segoe UI Light";
    src: url(/fonts/Segoe%20UI%20Light.ttf) format("truetype");
}
.semibold {
    font-family: "Segoe UI Semibold", "wf_SegoeUI","wf_SegoeUILight","Tahoma","Verdana","Arial","sans-serif";
}
.font-light {
    font-family: "Segoe UI Light", "wf_SegoeUI","wf_SegoeUILight","Tahoma","Verdana","Arial","sans-serif";
}

.cursor-link {
    cursor: pointer;
}

/* Сетка */
.grid-left1     { margin-left: 18px; }
.grid-left2     { margin-left: 36px; }
.grid-left8     { margin-left: 144px; }
.grid-left16    { margin-left: 288px; }

.grid-right1    { margin-right: 18px; }
.grid-right2    { margin-right: 36px; }
.grid-right16   { margin-right: 288px; }

.grid-top-1     { margin-top: -18px; }
.grid-top0_5    { margin-top: 9px; }
.grid-top1      { margin-top: 18px; }
.grid-top1_5    { margin-top: 27px; }
.grid-top2      { margin-top: 36px; }
.grid-top3      { margin-top: 54px; }

.grid-bottom-2  { margin-bottom: -36px; }
.grid-bottom-1  { margin-bottom: -18px; }
.grid-bottom0_5 { margin-bottom: 9px; }
.grid-bottom1   { margin-bottom: 18px; }
.grid-bottom1_5 { margin-bottom: 27px; }
.grid-bottom2   { margin-bottom: 36px; }
.grid-bottom3   { margin-bottom: 54px; }
.grid-bottom4   { margin-bottom: 72px; }
.grid-bottom5   { margin-bottom: 90px; }

.gridHeight1    { height: 18px; }
.gridHeight2    { height: 36px; }
.gridHeight3    { height: 54px; }
.gridHeight4    { height: 72px; }
.gridHeight5    { height: 90px; }
.gridHeight6    { height: 108px; }
.gridHeight7    { height: 126px; }
.gridHeight8    { height: 144px; }
.gridHeight9    { height: 162px; }
.gridHeight10   { height: 180px; }
.gridHeight11   { height: 198px; }
.gridHeight12   { height: 216px; }
.gridHeight13   { height: 234px; }
.gridHeight14   { height: 252px; }
.gridHeight15   { height: 270px; }
.gridHeight16   { height: 288px; }
.gridHeight17   { height: 306px; }
.gridHeight18   { height: 324px; }
.gridHeight19   { height: 342px; }
.gridHeight20   { height: 360px; }
.gridHeight21   { height: 378px; }
.gridHeight22   { height: 396px; }
.gridHeight23   { height: 414px; }
.gridHeight24   { height: 432px; }
.gridHeight25   { height: 450px; }
.gridHeight26   { height: 468px; }
.gridHeight27   { height: 486px; }
.gridHeight28   { height: 504px; }
.gridHeight29   { height: 522px; }
.gridHeight30   { height: 540px; }
.gridHeight31   { height: 558px; }
.gridHeight32   { height: 576px; }
.gridHeight33   { height: 594px; }
.gridHeight34   { height: 612px; }
.gridHeight35   { height: 630px; }
.gridHeight36   { height: 648px; }

.gridHeight50   { height: 900px; }
.gridHeight51   { height: 918px; }
.gridHeight52   { height: 936px; }
.gridHeight53   { height: 954px; }
.gridHeight54   { height: 972px; }
.gridHeight55   { height: 990px; }
.gridHeight56   { height: 1008px; }
.gridHeight57   { height: 1026px; }
.gridHeight58   { height: 1044px; }
.gridHeight59   { height: 1062px; }

.grid1          { width: 18px; }
.grid2          { width: 36px; }
.grid3          { width: 54px; }
.grid4          { width: 72px; }
.grid5          { width: 90px; }
.grid6          { width: 108px; }
.grid7          { width: 126px; }
.grid8          { width: 144px; }
.grid9          { width: 162px; }
.grid10         { width: 180px; }
.grid11         { width: 198px; }
.grid12         { width: 216px; }
.grid13         { width: 234px; }
.grid14         { width: 252px; }
.grid15         { width: 270px; }
.grid16         { width: 288px; }
.grid24         { width: 432px; }
.grid27         { width: 486px; }
.grid32         { width: 576px; }
.grid48         { width: 864px; }
.grid64         { width: 1152px; }
.grid80         { width: 1440px; }

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/** Borders **/
.border-cont {
    position: relative;
}
.border-l {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
}
.border-r {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
}
.border-t {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1px;
}
.border-b {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
}

.arrow-read-next {
    background: url(../../img/text-arrow.png) right 7px no-repeat;
    display: inline-block;
    padding-right: 10px;
    margin-top: 6px;
}

.text15, .text15 *,
.titleNormal, .titleNormal * {
    font-size: 15px;
    line-height: 21px;
}

.text14, .text14 * {
    font-size: 14px;
    line-height: 19px;
}

.titleColor, .titleColor p,
.titleNormal, .titleNormal p {
    color: #202020;
}
.titleIndent {
    margin-bottom: 7px;
}

.inline {
    display: inline-block;
}