@font-face {
  font-family: "PF DinDisplay Pro Regular";
  src: url(/fonts/PFDinDisplayPro-Reg.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Light";
  src: url(/fonts/PFDinDisplayPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Light Italic";
  src: url(/fonts/PFDinDisplayPro-LightItal.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Medium";
  src: url(/fonts/PFDinDisplayPro-Med.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Bold";
  src: url(/fonts/PFDinDisplayPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Verdana";
  src: url(/fonts/Verdana.ttf) format("truetype");
}
/* Главная разметка */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana", Helvetica, Arial, sans-serif;
}
body {
  font-size: 12px;
  line-height: 19px;
  color: #2b2b2b;
  background-color: #fff;
}
.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.wrap {
  padding-bottom: 150px;
}
a,
a:link,
a:hover,
a:visited {
  text-decoration: underline;
  color: #0063af;
}
/* Общий контейнер */
.common-container {
  position: relative;
  width: 1024px;
  padding: 0px 18px;
  margin-right: auto;
  margin-left: auto;
}
.common-container:before,
.common-container:after {
  display: table;
  content: " ";
}
.common-container:after {
  clear: both;
}
.head .col1,
.footer .col1 {
  _outline: 1px dotted #808080;
  width: 247px;
  min-width: 247px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.head .col2,
.footer .col2 {
  _outline: 1px dotted #808080;
  width: 382px;
  min-width: 382px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.head .col3,
.footer .col3 {
  _outline: 1px dotted #808080;
  width: 359px;
  min-width: 359px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.head .col2-3,
.footer .col2-3 {
  _outline: 1px dotted #808080;
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.head {
  height: 150px;
  min-height: 150px;
}
.head .logo-block {
  padding: 49px 0 0 32px;
}
.head .menu-block {
  padding: 49px 0 0 0;
}
.footer {
  font-size: 11px;
  line-height: 18px;
  color: #707070;
  height: 150px;
  min-height: 150px;
  margin-top: -151px;
}
.footer .separate-line {
  background: #4a8226;
  width: 966px;
  height: 1px;
  min-height: 1px;
  margin-left: 9px;
}
.footer .copyright {
  padding: 30px 0 0 45px;
}
.footer .author {
  padding: 30px 0 0 108px;
}
.footer .author a {
  color: inherit;
}
.footer .author .studio {
  color: #fa1010;
}
.footer .contact {
  padding: 30px 0 0 11px;
}
