@font-face {
  font-family: "PF DinDisplay Pro Regular";
  src: url(/fonts/PFDinDisplayPro-Reg.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Light";
  src: url(/fonts/PFDinDisplayPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Light Italic";
  src: url(/fonts/PFDinDisplayPro-LightItal.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Medium";
  src: url(/fonts/PFDinDisplayPro-Med.ttf) format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro Bold";
  src: url(/fonts/PFDinDisplayPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Verdana";
  src: url(/fonts/Verdana.ttf) format("truetype");
}
