#head-wrap,
#body-wrap,
#body-wrap2,
#footer-wrap {
    min-width: 1000px;
    position: relative;
}
#head-wrap {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#head-wrap {
    position: static;
}
#head {
    _background: rgba(255,0,0,0.2);
    height: 100px !important;
    padding-top: 35px;
}
/*
 * Чтобы распорка для Оперы и IE8 не мешала внутренним context блокам
 * создадим из обёртки контекст с помощью float: left;
 */
#body-wrap,
#body-wrap2 {
    position: relative;
    width: 100%;
}

#body {
}
#footer-wrap {
    display: block;
}
#footer-wrap {
    left: 0;
    position: relative;
    width: 100%;
}
#head,
#footer {
    margin: 0 auto;
    max-width: 1361px;  /* 1440px; */
    position: relative;
}
#body,
#body2 {
    margin: 0 auto;
    max-width: 1000px;  /* 1440px; */
    position: relative;
}

/*
 * Copyright
 */
#footer #copyright {
    font-size: 12px;
}
#footer #copyright-color {
    color: #457092;
}