#body-wrap {
    height: 990px;      /* 18px * 55*/
}

.main-page-block1 {
    position: relative;
}
.main-page-block2 {
    _background: rgba(0,0,255,0.2);
    position: relative;
}
.main-page-block3 {
    _background: rgba(255,0,255,0.2);
    position: relative;
}
/*.main-works-block {
    width: 864px;       /* 18px * 48 */
/*    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}*/
/*.projects-own-block {
    height: 100%;
    position: absolute;
    left: 864px;
    top: 0px;
}*/
.main-page-faq-widget {
    _background: rgba(0,255,0,0.2);
    height:100%;
}
.main-page-info-widget {
    _background: rgba(255,0,0,0.2);
    height:100%;
}
.main-page-own-projects-widget {
    _background: rgba(0,0,255,0.2);
    height:100%;
}

.main-page-content {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
}

.main-page-content-pos {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;            /* Рассчитываемое значение */
    margin-left: -50%;      /* Рассчитываемое значение */
    overflow: hidden;
}
