#head-wrap,
#body-wrap,
#footer-wrap {
    min-width: 864px;
    position: relative;
}
#head-wrap {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#head-wrap {
    position: static;
}
#head {
    _background: rgba(255,0,0,0.2);
    height: 127px !important;
    padding-top: 37px;
}
/*
 * Чтобы распорка для Оперы и IE8 не мешала внутренним context блокам
 * создадим из обёртки контекст с помощью float: left;
 */
#body-wrap {
    position: relative;
    width: 100%;
}

#body {
}
#footer-wrap {
    display: block;
}
#footer-wrap {
    left: 0;
    position: relative;
    width: 100%;
}
#head,
#footer {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}
#body {
    margin: 0 auto;
    max-width: 1440px;  /* 1440px; */
    position: relative;
}
