.hmenu li {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}
.hmenu li a {
    __text-transform: uppercase;
    display: inline-block;
}
.hmenu li a.select {
    color: #101010;
}
.hmenu li.first {
    padding-left: 0px;
}
.hmenu li.last {
    padding-right: 0px;
    border-right: 0px none;
}



.vmenu li a.select {
    color: #101010;
}
