.hmenu li {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}
.hmenu li a {
    color: #3a6b96;
    text-transform: uppercase;
    text-decoration: none;
}
.hmenu li a.unselect {
    border-bottom: 1px solid #689299;
}
.hmenu li a.select {
    display: inline-block;
}
.hmenu li.first {
    padding-left: 0px;
}
.hmenu li.last {
    padding-right: 0px;
    border-right: 0px none;
}