.presentation-page .col1 {
  width: 225px;
  min-width: 225px;
  float: left;
  height: inherit;
  min-height: 1px;
}
.presentation-page .col2-3 {
  width: 741px;
  min-width: 741px;
  float: left;
  height: inherit;
  min-height: 1px;
  padding-left: 22px;
  padding-right: 22px;
}
.presentation-page .cont {
  position: relative;
}
.presentation-page .title {
  z-index: 2;
  font-family: "pf_dindisplay_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #719e3d;
  padding-bottom: 22px;
  padding-top: 11px;
  white-space: nowrap;
}
.presentation-page .title grey {
  color: #2b2b2b;
}
.presentation-page .title lightgrey {
  color: #929da0;
}
.presentation-page .video {
  z-index: 2;
  background: #ccc;
  width: 607px;
  height: 341.86764706px;
  padding: 1px;
}
.presentation-page .video iframe {
  width: 605px;
  height: 339.86764706px;
}
