#body-wrap {
    height: 343px;
}
#body-wrap2 {
    height: auto;
    min-height:200px;
}
#body {
    height: 100%;
}

.main-works-block {
    background: rgba(0,255,0,0.2);
    width: 864px;
    height: 100%;
    float: left;
}
.our-projects-block {
    background: rgba(0,128,0,0.2);
    width: 576px;
    height: 100%;
    float: left;
}