@import (reference) '../../../views/less/custom';

.main-page {
    min-height: 1px;

    .bottomGap {
        height: @footerPaddingTop;
        min-height: @footerPaddingTop;
    }

    .col1 {
        .col(@mainCol1);
    }
    .col2 {
        .col(@mainCol2);
    }
    .col3 {
        .col(@mainCol3);
    }
    .col2-3 {
        .col(@mainCol2 + @mainCol3);
    }
    .cont {
        position: relative;
    }

    .col1-block1 {
        position: absolute;
        top: 18px;
        left: 0;
    }
    .col1-block2 {
        position: absolute;
        top: 570px;
        left: 0;
    }
    .col1-block3 {
        position: absolute;
        top: 180px;
        left: 500px;
    }

    .separator {
        .separate-line();
        width: 100%;
    }

    .padding-block {
        padding-top: @bigPadding;
        padding-bottom: @bigPadding;
    }
}

/* Задник */
.bg-container {
    @w: 1027px;
    @h: 568px;
    @top: 305px;

    width: 100%;
    min-width: @commonWidth;
    height: @h + @top;
    overflow:hidden;
    position:absolute;

    .bg-picture {
        width: @w;
        height: @h;
        position: absolute;
        top: @top;
        left: 50%;
        margin-left: -@w / 2 + 15px;
        background: url(../../img/mainBg.jpg) left top no-repeat;
        z-index: -1;
    }
}